[2016-04-22 21:14] bwatkins79 opened #1 "Sending IP Address"
Is it possible to get the IP address of the sender of an email that gets received by this smtp server?

[2016-04-23 06:24] cosullivan commented on #1
Yes, in the IMailboxFilter you can override the CreateSessionInstance which is passed in the EndPoint of the connecting client.

[2016-04-25 19:04] bwatkins79 commented on #1
Thanks for the reply, i'm newer at this, would you mind giving an example?

On Sat, Apr 23, 2016 at 1:24 AM, cosullivan <notifications@github.com>
wrote:

[2016-04-26 14:29] cosullivan commented on #1
Hi, I assume that you want the IP address such that you can filter the incoming requests based on a blacklist of some sort?

You would first register an instance of an `IMailboxFilter` during the creation of the SmtpServerOptions. If your instance of an IMailboxFilter overrides the CreateSessionInstance method then you can create a new instance of that filter specifically for that remote endpoint.

[2016-05-04 21:57] bwatkins79 commented on #1
Thanks, I was able to get it working based off of this!

[2016-05-04 21:57] #1 closed

[2016-06-24 23:43] LordMike opened #3 "Add the remote IP to the SaveAsync method"
Hi,

I was looking for a good C# SMTP server for a small project, and lo and behold. This looks really great.

I'm lacking a little on the hooks though, as the MessageStore seems to lack a number of things. All it really has access to is the actual message itself - not the IP f.ex. For my project, I need to store the IP of the remote client sending data.

For extra points, I'd love to store the co

[2016-06-25 01:46] cosullivan commented on #3
Hi Mike,

Glad to hear you like my project.

The ISmtpSessionContext already contained the EndPoint of the remote client as I added it a few months back to allow the IMessageFilter to filter based on IP.

I had already modified the IMessageStore to support the same approach (ie, having a CreateSessionInstance method) but hadn't pushed that change. Based on your feedback, I have change that interfa

[2016-06-25 09:48] LordMike commented on #3
Great!

I'm unsure about what I want the log for right now. So I wouldn’t go far down that road. I think the initial thought was that I wanted an SMTP server that would respond according to the protocol and then just accept everything. I would then save the log somewhere, and then parse that later on.

I'm making an SMTP black hole server, to receive any message and present them. Much like Mailina

[2016-06-25 10:01] LordMike commented on #3
I was wondering about your pattern (The `CreateSessionInstance` thing). Why not give the context to each method, and then keep only one of each provider?

It seems a waste to me to create a new instance of the `MessageStore` just to keep one local variable. F.ex., in my message store, I will want to keep stuff like DB connections, but not one copy of these instances/settings for each message that

[2016-06-25 10:13] LordMike opened #4 "Connection closes"
Hey,

While testing, I start and stop my server a lot. I've found that once in a while, when the server starts, it will drop the first connection.

![image](https://cloud.githubusercontent.com/assets/1027111/16356128/030e62d2-3ace-11e6-83c3-6b211a0e4dc4.png)

I'm unsure what causes this - as the server runs fine for long periods of time. In the picture, I run the server two times. The first receiv

[2016-06-25 10:49] cosullivan commented on #3
Hi Mike,

I find that pattern useful when using IoC as it allows the instance itself to act as a factory for other instances. Say for example you were performing some whitelist filtering you could do something such as returning a difference class altogether for an invalid client (ie, a SpamMessageStore) versus an acceptable message.

I rarely develop any projects these days without using a contain

[2016-06-25 11:04] cosullivan commented on #4
Hmm, that's interesting. I know there is an issue with the way I am tracking the tasks that each session is creating - the issue exists in the task (ie, message from the sender) is complete because I have a chance to add it to a cache. That's only usually an issue on localhost so I wonder if this is somehow related. I've been meaning to fix that for a while anyway, but I will see if I can replicat

[2016-06-25 12:18] LordMike commented on #4
It's mitigated by the fact that senders will retry (in theory at least). I can try running this when I get back in a weeks time by catching all exceptions. Should at least give a pinpoint if the issue is there.

[2016-06-25 12:19] LordMike commented on #3
Does this also work in the case when the produced instance will contain values specific for a single session? I'm all for factories creating generic handlers like SpamMessageStore or DbMessageStore etc, but they're really should only be one.

But then again - I'm no expert on patterns :P

[2016-06-27 12:01] cosullivan commented on #3
I made a change to this over the weekend to separate the factory from the implementation interface. You will notice now that there is an IMessageStoreFactory that has a CreateInstance method which takes in the ISessionContext and also the IMessageStore interface's SaveAsync method also takes in the ISessionContext. This should allow the best of both worlds, the only additional overhead now is that

[2016-06-27 12:03] cosullivan commented on #4
If you get a chance can you please try this again with the latest commits on master? I made some changes to the way that the sessions were tracked, not sure if it will make a difference though.

Also, how are you actually restarting the server?

[2016-07-02 22:31] LordMike commented on #4
I pulled the code, then I noticed something weird when I enabled showing all exceptions. Apparently I had called `.Ports()` twice with the same values (I construct an `OptionBuilder` with defaults, and then when loading a config I set it agan).. I've now changed the code so it only sets the ports once.

I have yet to reproduce the dropping connection thing. May be related.

[2016-07-03 13:53] LordMike commented on #4
I think I have it. When I send from powershell, I've noticed that only the first message triggers an accepted client (code in `ListenAsync`). This leads me to believe the powershells `Send-MailMessage` keeps a persistent connection. Netstat also shows an established connection between my server and powershell, even after the mail has been sent.

That connection is of course broken when I restart t

[2016-07-03 13:53] #4 closed

[2016-07-04 11:39] LordMike opened #5 "Accessing the envelope from & to in the save step"
Hey again,

It just struck me: How do I access the SMTP envelopes From & To properties?

The `IMimeMessage` interface exposes a `From` (single `IMailBox`) and a `To` (list of `IMailBox`) - are these the SMTP from/to?

Maybe they should be named `EnvelopeFrom` and `EnvelopeTo`?

[2016-07-04 11:58] LordMike commented on #5
I figured it's the way I described (through tests). Correct me if I'm wrong.

[2016-07-04 11:58] #5 closed

[2016-07-04 13:11] cosullivan commented on #5
Yep, the IMimeMessage From and To are from the mail transfer agent (MTA), the actual From and To that the user put in their message will be encoded in the message content. You will need to parse out the message MIME content to access that (I personally use Mail.dll from Limilabs).

In most cases the From fields will be the same (from the MTA and the encoded MIME content), but the To fields will li

[2016-07-04 17:49] LordMike commented on #5
Awesome. I use Mimekit - I also reasoned that since you had no MIME parsing stuff (no externals) then you probably didn't have the capability of parsing out the messages to/from.

Now I can do SPF. Awesome. :)

[2016-07-04 22:46] LordMike opened #6 "Final OK message for receiving data"
Playing around with actual mail systems (Google, Microsoft), I've noticed something: They don't seem to think a mail was safely delivered.

Looking at wireshark, I noticed that there seems to be lacking a final "250 OK" (or similar) from the server after receipt. I tried changing the returned value from `SaveAsync` to be "250 OK", but this value doesn't appear in the TCP stream.

Am I doing someth

[2016-07-04 22:54] LordMike commented on #6
Yet again. Bugs on my end. My SaveAsync was taking way too long time, so the other end never got the 250 OK (and the accompanying message).

Sidenote: How can I return something other than OK - in case my save fails, f.ex. due to lacking disk space?

[2016-07-05 10:04] cosullivan commented on #6
Previously it assume the return result as a message ID and then formatted the OK response based on that. If there was an exception, then it returned an error.

I've just push a commit that changes the return value of the IMessageStore interface so it now returns an SmtpResponse instead so you can control the response however you like.

By default, return SmtpResponse.Ok.

[2016-07-05 10:56] LordMike commented on #6
This should allow me to do my own throttling/timeouts, and then relying on SMTP/MTA's to re-send later.

Thx.

[2016-07-05 10:56] #6 closed

[2016-07-11 03:30] PreetSangha opened #8 "return type must be 'Task<SmtpResponse>' to match overridden member"
Hi there,

Just done a clone and rebuild and there is a failure in building the MockMessageStore

`public override Task<string> SaveAsync(ISessionContext context, IMimeMessage message, CancellationToken cancellationToken)`

should be of type `Task<SmtpResponse>`

[code]

[2016-07-12 06:04] cosullivan commented on #8
Thanks, I have pushed a change to fix this.

[2016-07-12 06:04] #8 closed

[2016-07-12 06:04] #3 closed

[2016-07-18 22:19] LordMike opened #9 ".NET Core"
Hey,

I was looking into migrating the SmtpServer projects to Core. And most of it is just easy-peasy straight ahead. I've discovered issues with a few things:
- TcpClient doesn't expose a public `Close()` or `Dispose()` (which I find odd) in `netcoreapp1.0`
- The `SslProtocols` doesn't have a `Default` member
- I'm unsure how the Ssl part will work, as Linux doesn't have a certificate store...
-

[2016-07-18 22:38] LordMike commented on #9
Edit: I figured out the Dispose thing .. Apparently the TcpClient implemented `IDisposable` like this:

`public IDisposable.Dispose()` .. Meaning I had to call it like this: `((IDisposable)_tcpClient).Dispose();`

[2016-07-21 04:06] cosullivan commented on #9
Great.

I haven't converted anything to Core yet. How does it work from a VS build & nuget packing situation? Does it become a separate project in the VS solution that targets Core?

[2016-07-21 09:10] LordMike commented on #9
Hi,

No it's much, much simpler.

What you do is you replace the entire project (s) with .net core versions (after upgrading VS to 2015 update 3).

Then your development environment is pretty much the same. You can build, develop and debug as you used to.

The good stuff comes in targeting. You target, from the same project, all the environments you want, and VS will then only present you with int

[2016-08-05 15:39] khoaho opened #10 "Error to run the example after build"
I got the error "Transaction failed. The server response was: " at line 92 of Program.cs:

https://github.com/cosullivan/SmtpServer/blob/master/Src/SampleApp/Program.cs#L92

Can you please explain it.

Thank you

[2016-08-06 02:04] cosullivan commented on #10
Hi,

That error will be coming from the mail client, but you will have to step through it to see if it is hitting the actual server or not and go from there.

Thanks,
Cain

[2016-08-08 21:30] khoaho commented on #10
Hi Cain,

I stepped through the debugger and saw SmtpServer was created at http://0.0.0.0:9025. All methods in SmtpServer class were hit normally without error.

However, SmtpClient fails to send message. Here is the stack trace:

   at System.Net.Mail.DataStopCommand.Send(SmtpConnection conn)
   at System.Net.Mail.SmtpConnection.OnClose(Object sender, EventArgs args)
   at System.Net.ClosableStre

[2016-08-09 13:50] cosullivan commented on #10
Sorry, its really quite hard to guess what is going on here as the error is coming from the Mail Client. It looks as though it has something to do with the ending of the message, for example, when the mail client has finished sending the message content, it ends with a "<CRLF>.<CRLF>". This appears to be where its having trouble.

If you have a look at the DataCommand class (line 45) this is where

[2016-08-09 14:54] khoaho commented on #10
I see the line 45 (of DataCommand class) was hit several times until getting "." to finish the message. Then it has error at line 92 (of Program class). Here is the message object at this point:

![image](https://cloud.githubusercontent.com/assets/1810890/17520851/d8e9720a-5e16-11e6-9b23-c20f08191cc7.png)

[2016-08-09 15:00] khoaho commented on #10
...and the exception at SmtpClient:

![image](https://cloud.githubusercontent.com/assets/1810890/17521058/8ce3e272-5e17-11e6-9b55-0b7bfdebe383.png)

The SmtpServer object was created:

![image](https://cloud.githubusercontent.com/assets/1810890/17521161/f359f406-5e17-11e6-859a-29924d29d074.png)

[2016-08-10 11:12] cosullivan commented on #10
Hi, OK so I finally had a chance to look at this - its actually working as expected :-) If you have a look at the ConsoleMessageStore this is returning the TransactionFailed response which is then passed back to the client. That was a recent change that I made and I must have left the TransactionFailed response code in there, but I have switched it back to the OK response code now for the sample.

[2016-08-10 14:31] khoaho commented on #10
Hi Cain,

It works after you updated SmtpResponse.TransactionFailed to SmtpResponse.OK.

Can we send to the real email? At Program.cs, I change sample@test.com to my real email (at line 91), and comment out the while loop (at line 85, 86 & 110). But I don't see any email sent to my mailbox.

Thank you.

[2016-08-10 14:57] cosullivan commented on #10
Hi,

I'm not 100% sure what you mean - this component though is the SMTP server component so it receives the messages, it doesn't send them on.

What mailbox are you referring to, your actual email account's mailbox?

The sample app uses the Mail client that is a part of the .NET Framework just for testing purposes.

Thanks,
Cain

[2016-08-10 16:41] khoaho commented on #10
I use this code to send email (to an Outlook account) using Gmail SMTP server. Can we do the same with our local SmtpServer, to replace smtp.gmail.com with localhost?

[code]

Thanks.

[2016-08-11 03:16] cosullivan commented on #10
Hi, yes you can just replace smtp.gmail.com with localhost and it will send to the server running on localhost. However, this wont be sent anywhere else, it will just call into your IMessageStore implementation.

Thanks,
Cain

[2016-08-11 04:37] khoaho commented on #10
Can you let the SmtpServer to send email in IMessageStore from localhost. I would love to see if you can have a local SMTP Server without using a remote SMTP Server.

Thank you.

[2016-08-11 11:14] cosullivan commented on #10
Hi,

If you wanted to use it as an MTA (Mail Transport Agent) then you would have to on send it to another mail server anyway so I'm not really sure what you are looking for.

This component is purely just an SMTP server, so it will handle the communication with a Mail Client and then pass the resulting message context through to your own IMessageStore implementation.

Thanks,
Cain

[2016-08-11 15:57] khoaho commented on #10
Hi Cain,

Thank you to let me know that. As this SmtpServer is not an MTA so it will store messages only, not send messages.

We can close this issue. Thank you.

-Khoa

[2016-08-11 15:57] #10 closed

[2016-10-21 14:35] bwatkins79 opened #11 "Problem with MessageStore Option"
Hello, I love this project.  I was using an older version of this (1.2.2.0) with no issues. I'm working on updating my project and with v1.6 I can't get the MessageStore option to work. It is saying that it only takes IMessageStoreFactory as its argument. I tried changing my ConsoleMessageStore to an IMessageStoreFactory, but it told me 'WindowsService1.ConsoleMessageStore' does not implement inte

[2016-10-21 14:59] cosullivan commented on #11
Hi, glad to hear that you like the project.

I modified the server to allow for per-session instances of the IMessageStore based on the current session context (ie, the remote client IP address). This is why it now uses an IMessageStoreFactory as opposed to simply taking an IMessageStore instance.

If you want the previous behavior, I've added an abstract SmtpServer.Storage.MessageStore class whic

[2016-11-01 23:10] #11 closed

[2016-12-08 19:56] reinaldocoelho commented on #9
Hi there.

I created a PullRequest with conversion to DotNet Core.

I hope it´s help to final conversion :-)

Thanks for the great project.

[2016-12-19 03:47] panterlo opened #14 "SpamAssassin integration"
This is a great project, thanks sharing ! Anyway have you thought about a SpamAssassin integration (over TCP) or to you rather think it's better to put a Postfix + Amavisd in front of this C# SmtpServer to handle filtering ?

We are looking at using it to provider inbound e-mail web hooks (we are aware that there are SendGrid, Mailgun that provides inbound web hooks but we prefer to run it closer

[2016-12-19 10:18] cosullivan commented on #14
Hi, I am glad you like it.

I did look briefly into SpamAssassin a while back, but ended up using a Bayesian filter internally from the app. The Bayesian filter was implemented using a commercial product written in C# so it made things a lot easier. This didn't go into a production environment though, but from the tests I did it worked really well.

I implemented this by putting it into the IMessa

[2017-01-05 21:51] MaitreDede commented on #9
Hi :)

I have also made an attempt to port to dotnet core. See PR #15.

In the next steps, I think I will add support for dependency injection and logging (through microsoft's extension packages).

[2017-01-07 07:07] cosullivan commented on #9
Thanks.

I merged that PR, but ended up converting the other projects back to Net45 for now as I had heaps of issues building – not sure what the problem was, but I will convert them later. The Main SmtpServer now builds and packages as .NETFramework 4.5 and .NETStandard 1.6.

From: Damien DALY [mailto:notifications@github.com]
Sent: Friday, 6 January 2017 5:52 AM
To: cosullivan/SmtpServer <SmtpSe

[2017-01-10 10:10] mrinc opened #16 "Please push 2.0.0-Beta1 to nuget.org"
Hello,

Please could you push v2.0.0-Beta1 to nuget.org as its the current version in master?

In future, could a branching structure of develop/master be used so master is always the latest stable and develop being the awesome new stuff or something like this?

Thanks

[2017-01-10 10:39] mrinc commented on #16
Never mind, I thought the 'include prereleases' checkbox was checked :D

[2017-01-10 10:39] #16 closed

[2017-01-10 13:02] cosullivan commented on #16
No worries.

I also forgot to push the change to the project.json that contained the update version number.

Thanks,

Cain

From: Mitchell R [mailto:notifications@github.com]
Sent: Tuesday, 10 January 2017 6:39 PM
To: cosullivan/SmtpServer <SmtpServer@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [cosullivan/SmtpServer] Please push 2.0.0-Beta1 to nuget.org (#16)

[2017-02-03 15:12] #14 closed

[2017-02-03 15:12] #9 closed

[2017-03-17 12:31] reinaldocoelho opened #18 "Bug on receive data broke special chars."
When SmtpServer receive EML with special chars, lib broke chars and chage that to "?" instead.
Characteres are broked in Subject and Body.

How to reproduce:

1. Steps
    1. Run SmtpServer
    1. Open console.
    1. Insert command: telnet 127.0.0.1 25 (suposing you are using 25 port)
    1. Follow commands in [smtp-telnet-commands.txt](https://github.com/cosullivan/SmtpServer/files/850515/smtp-t

[2017-03-17 18:04] reinaldocoelho commented on #18
C# code to reproduce the same error, the e-mail was received with special char broken:

            var message = new MailMessage("test@gmail.com", "receiveaccount@test.com")
            {
                Subject = "Subject test çãõáéíóú",
                IsBodyHtml = false,
                Body = null
            };
            using (AlternateView body = AlternateView.CreateAlternateViewFromStri

[2017-03-20 14:59] cosullivan commented on #18
Thanks for raising that. I think this comes down to me needing to implement the 8BITMIME extension such that the UTF8 can be advertised to the client and then used. At the moment, everything is just using the ASCII encoding (but the 8BITMIME extension allows the body to be extended).

I will do this over the coming few days.

[2017-03-31 12:20] reinaldocoelho commented on #18
infelizmente

Hi @cosullivan.

I created a branch to try to solve the problem changing ASCII encoding to UTF8, but  not worked.
I changed the file NetworkTextStream.cs and fixed UTF8 in tests, but unfortunately not work :-(

I don´t know if help, but the commit is in here:
https://github.com/reinaldocoelho/SmtpServer/tree/eight-bit-mime

I tried to follow the RFC6152 (https://tools.ietf.org/html/r

[2017-04-04 13:00] cosullivan commented on #18
Hi @reinaldocoelho, thanks for putting in the time for the initial investigation. I've been looking at this too and there are a few issues;

Firstly, there was a bug in the parser when it was looking for the ESMTP MAIL parameters which I have now fixed. Do a diff on the the SmtpCommandFactory.cs file on my branch;
https://github.com/cosullivan/SmtpServer/tree/feature/8bitmime

The second issue is

[2017-04-05 13:04] cosullivan commented on #18
Hi @reinaldocoelho,

I've pushed an updated to this feature branch;
https://github.com/cosullivan/SmtpServer/tree/feature/8bitmime

and it looks as though it is now working.

I will upload the package to Nuget over the next week when I am certain it is working.

Thanks,
Cain

[2017-04-05 13:40] reinaldocoelho commented on #18
Hi @cosullivan .

I will test the changes :-)

Thank you very mutch,
Reinaldo.

[2017-04-05 19:34] reinaldocoelho commented on #18
Hi @cosullivan.

I created a simple project to send 8bit mime e-mails with System.Net.Mail.SmtpClient.
The code is in here: https://github.com/reinaldocoelho/Send8BitEmailExample

Unfortunately when the SmtpServer receive this call, the body broke special chars.

I´m not understand the problem yet, but when I sent the destination to my gmail account, the special charrs looks fine.

Thanks again.
R

[2017-04-06 12:44] cosullivan commented on #18
Hi @reinaldocoelho,

It looks as though the System.Net.Mail.SmtpClient will only send the BODY=8BITMIME when the SmtpDeliveryFormat is set to International;
https://msdn.microsoft.com/en-us/library/system.net.mail.smtpdeliveryformat(v=vs.110).aspx

I'm not sure whether it would present any issues if the message data was always read as UTF8, I will have to test this out, but according to the RFC, t

[2017-04-06 12:58] reinaldocoelho commented on #18
Hi @cosullivan.

In the example I defined SmtpDeliveryFormat to International, but not work.

I readed in some place about use UTF8 as a default reader encode, because UTF8 read all ASCII chars plus special chars over cost of space and memory usage because of aditional bit.

If I can help, I will be happy :-)

Thanks.

[2017-04-06 14:49] cosullivan commented on #18
Ok, I would say that Gmail probably looks at the Content-Transfer-Encoding message header and automatically uses UTF8.

Postfix does this as well;
http://www.postfix.org/postconf.5.html
detect_8bit_encoding_header

I will add support for automatic detection.

[2017-04-06 14:53] reinaldocoelho commented on #18
Cool.

Thanks.

[2017-04-18 19:22] mohrtan opened #20 "Not calling custom authenticator"
I copied your example code exactly and it is not calling my custom authenticator.
[code]
Then,

[code]

Console debug line is never displayed and breakpoints are never hit. I'm sending the messages with:
[code]
Please advise.

[2017-04-23 02:02] cosullivan commented on #20
Hi @mohrtan,

With the native SmtpClient, it will only send the authentication information if the EnableSsl property is also set to true.

However, if you set this to true, it will expect the server to advertise support for the STARTTLS command so it can initiate a secure connection. The SmtpServer component does support the STARTTLS, but you need to configure a certificate first.

I am working on

[2017-04-23 13:28] mohrtan commented on #20
Thanks! I'll try that about asap.

[2017-04-23 13:28] #20 closed

[2017-04-25 01:50] reinaldocoelho opened #21 "Point removal broke e-mails."
Hi @cosullivan, how are you?

I got a problem with some emails that I received on the server and I'm doubtful if it could be a component error.

I noticed some e-mails presenting errors in signatures, images, font size and others, checking the cases, all at first seemed to present the lack of a dot (".") In some part of the e-mail.

Some cases the email would be in the first position of the next l

[2017-04-25 11:45] cosullivan commented on #21
Hi @reinaldocoelho,

A message is completed by the mail client sending a <CRLF>.<CRLF> sequence, effectively, a full stop that exists on a line all by itself.

Therefore, if for some reason the message was to contain a full stop on a blank line the mail server could incorrectly deem this to be the end of the message. To avoid this, the mail client will send two full stops together so one needs to

[2017-04-25 11:55] cosullivan commented on #21
@reinaldocoelho

Are you able to send me some of the emails that have issues?

[2017-04-25 13:25] reinaldocoelho commented on #21
Hello @cosullivan.

Yes, it follows attached an EML that broke the image because it misses a dot.

[Email-dot-removed.zip] (https://github.com/cosullivan/SmtpServer/files/955159/email-dot-removed.zip)

The excerpt that asked the point is this:

None; Margin-left: 30px; User-select: none; "src = 3D" https: //intranet.alatur=
Com / assets / custom / img / signature / 2016 / logos / seal-25.jpg "> </

[2017-04-26 17:27] bernharde opened #22 "Provide a working sample with SSL"
Hi,
first thank you so much for your great work.

I'm trying to get your sample project working with SSL enabled but I'm failing.
//smtpClient.EnableSsl = true;
EnableSsl does not exists any more
I tried also ConnectSSL and StartTls - both failing, could you please update your sample or provide some information about what is going wrong?

Thanks, Bernhard

[2017-04-27 13:59] cosullivan commented on #22
Hi,

Sorry, the previous example was using the System.Net.SmtpClient which had the EnableSsl property. I have now switched to using the MailKit SmtpClient which will automatically enable SSL as long as the server advertises it.

If you look at the SampleApp now (on master);

https://github.com/cosullivan/SmtpServer/blob/master/Src/SampleApp/Program.cs#L29
This is used for development purposes only

[2017-04-27 14:57] cosullivan commented on #21
Hi @reinaldocoelho,

I see what you mean here. The only thing I can think of is that the mail client isn't sending the additional full stop, but perhaps that's not required because it is using quoted-printable encoding. In theory though, the transparency of the mail content should preceed the MIME content transfer encoding.

If you look specifically at the following;
"If the first character is a p

[2017-04-27 15:57] bernharde commented on #22
Hi Cain,
thanks for your quick and detailed help. I got the sample working with SSL.

[2017-04-27 15:57] #22 closed

[2017-04-27 17:39] reinaldocoelho commented on #18
@cosullivan Can I try to develop this support for automatic detection?

I would like to know if you have any proposal on implementing this solution, at least so that I follow the path most appropriate for the library?

Thanks.

[2017-04-27 17:46] reinaldocoelho commented on #21
I had some doubts about the RFC, I will read the document properly (https://tools.ietf.org/html/rfc821) in the Transparency session to see if I understand better.

But I understood your point of view, because I understand what the customer should when they find that period, add an additional period on start of line.

Do you think the SMTP server should somehow be concerned about this client error?

[2017-04-28 21:25] reinaldocoelho commented on #21
Hi @cosullivan.

I was checking the case I commented from TrimStart () and the RFC. Actually the RFC says that the client should send the point 2 times and that the server should remove the first point of the line.

I was checking the TrimStart () command and it removes not only the first but all the first points of the line, like the example below.

    class Program
    {
        static void Mai

[2017-04-28 21:38] reinaldocoelho commented on #21
I created a PullRequest #23 to that.

Thanks.

[2017-04-29 03:47] #21 closed

[2017-04-29 03:48] cosullivan commented on #21
Ahh, of course. Good pickup!!

[2017-04-29 04:47] cosullivan commented on #18
In looking at this, I think this actually might be more of an issue with the SmtpClient. I am using the MailKit SmtpClient and everything looks to be handled correctly.

Take the following as an example;

    var message = new MimeKit.MimeMessage();
    message.From.Add(new MimeKit.MailboxAddress($"{name}{counter}@test.com"));
    message.To.Add(new MimeKit.MailboxAddress("sample@test.com"));

[2017-04-29 05:44] cosullivan commented on #18
@reinaldocoelho FYI, I've pushed a branch to MASTER which has your bugfix and also the ability to set the default encoding, however, I don't think this is actually needed.

[2017-04-29 14:26] reinaldocoelho commented on #18
Hi @cosullivan  :-)

I have one more point to test, I uploaded to production a forked version of code with UTF-8 fixed to receive e-mails, but e-mails with ISO8859-1 chatset breaked.

To test implementation, we can use this code where I sent more than one chatset e-mails:
https://github.com/reinaldocoelho/Send8BitEmailExample

I executed this test and e-mail with charset ISO8859-1 breaked too, I l

[2017-04-30 11:47] cosullivan commented on #18
Hi @reinaldocoelho,

Do you need to make the transfer encoding 8bit? Why not use Base64?

    body.TransferEncoding = TransferEncoding.Base64;

Then, on the server's SaveAsync() method you can do the following;

    var m = MimeKit.MimeMessage.Load(new MemoryStream(System.Text.Encoding.UTF8.GetBytes(message.Mime.ToString())));
    Console.WriteLine(m.Subject);
    Console.WriteLine(m.TextBody);

A

[2017-04-30 22:55] reinaldocoelho commented on #18
So I do not have the control of the email client, we use this SMTP server so that clients of our application can receive emails online, and this encoding problem is being reported by a client that receives emails from this form. Unfortunately, I can not make any changes to the part of the client that is sending it.

This way, I need to tune our SMTP system, which uses your library, to behave prope

[2017-05-01 16:01] cosullivan commented on #18
Yes, I suspect that GMail does do alot more outside of the offical RFC's in order to accept as many emails as possible.

The interesting thing with my example above is that it looks like it may have been double UTF8 encoded, so I will take another look at that.

If you have a look at my v3.0 feature branch that I am working on, I am working on a new method of reading the message content which incl

[2017-05-03 16:10] cosullivan commented on #18
Hi @reinaldocoelho ,

I just pushed an update to the feature/3.0.0 branch which looks like it might be close to being correct, as it handles the output of that Send8BitEmail.

I am stilling using MimeKit to deserialize the message as you can see here;
https://github.com/cosullivan/SmtpServer/blob/feature/3.0.0/Src/SampleApp/ConsoleMessageStore.cs

But the difference is that I am carrying the messa

[2017-05-04 01:28] reinaldocoelho commented on #18
Hi @cosullivan

Thanks for response.
I think your idea is great, returning the received content in bytes to requester and allow them to make what he want with content.
To validate the dot in the end of received content you need to continue use ASCII to found the point, is that?

I will test your branch and look for your idea of return all bytes to solve my problem until version 3.0 was finished.

[2017-05-04 10:37] cosullivan commented on #18
Hi @reinaldocoelho ,

No, the full stop is just a byte value of 46, so the terminating sequence is a sequence of 13, 10, 46, 13, 10 regardless of the messages actually encoding.

I'm not sure how that would work with BINARY data though (as I think that is fixed length), but in theory the client shouldn't send binary data because the server doesn't yet advertise support for it.

Thanks,
Cain

[2017-05-04 12:38] reinaldocoelho commented on #18
Hum, I undestand your point, but NetworkStream is not a binary data?

And about terminating sequence, can it change with SO, correct?
Because:
\n - UNIX
\r\n - DOS
\r - Mac

Thanks,
Reinaldo.

[2017-05-04 12:43] bernharde opened #24 "How to know SSL enabled on Server"
Hi,
sorry this is not a real issue - just a question:
I only want to allow SSL connections on the server. How can I check, whether the connection is secure and the mail is coming over SSL on the server side?

Thank you for your help.

Best regards,
Bernhard E

[2017-05-04 13:15] cosullivan commented on #18
Yes it is, it just reads bytes. If you put a StreamReader on top of it, then you have the ability to turn those bytes into other things, ie, strings.

The terminating sequence in the SMTP protocols is always the same, regardless of the operating system. Ie, it's always defined using the lexical tokens of CR & LF which are 13 & 10 respectively.

See the section on "Lexical Tokens" here;
https://www

[2017-05-04 13:20] cosullivan commented on #24
Hi,

There are two ways to do this at the moment;

The IMailboxFilter and IMessageStore interfaces both take in an ISessionContext parameter.  You could cast that to an ISmtpSessionContext and in which case that exposes a Text property which has an IsSecure property which would be true or false.

Additionally, you can add an event handler to the ISessionContext.CommandExecuting event and listen ou

[2017-05-04 14:12] bernharde commented on #24
Thank you once again!

So one further step would be only allowing secure transport. Returning error code 530 would be correct or?

[2017-05-04 15:50] cosullivan commented on #18
Hi @reinaldocoelho ,

If you look at the feature/3.0.0 branch now, it seems to be working. It handles your test app when combined with MimeKit.

It's probably not production ready yet given the refactoring I have done, but looks pretty close.

Thanks,
Cain

[2017-05-04 16:43] reinaldocoelho commented on #18
Cool Cain, I will get this version and make tests.

Thanks.

[2017-05-06 15:47] cosullivan commented on #18
FYI, I've just pushed another set of changes to feature/3.0.0 and it looks pretty good now. All of the tests are passing and my load test runs perfectly fine.

[2017-05-08 20:49] reinaldocoelho commented on #18
Cool @cosullivan !!

Thank you.

[2017-05-11 14:05] #24 closed

[2017-05-11 14:54] cosullivan commented on #18
@reinaldocoelho , FYI - I've just pushed v3.0.0 to Nuget.

Thanks for all your help on this one.

[2017-05-11 15:56] reinaldocoelho commented on #18
Thank you @cosullivan .

I´m testing 3.0 version but I has compiled my own nuget version. After conclude my changes I will point to your version.

Thanks again and for all help.

If I can help in anything, please tell me.

Reinaldo.

[2017-05-12 00:14] #18 closed

[2017-05-31 21:52] 304NotModified opened #26 "Changelog"
Hi,

Is there a changelog? If not, please create them or use GitHub milestones/releases.

Thanks for the awesome lib! Used it with pleasure in an unit test for NLog :)

[2017-06-01 01:56] cosullivan commented on #26
Hi,

Thanks for the feedback, I'm glad you enjoyed using it.

I am planning on spending a bit of time working on additional samples and including change logs in the next few months so will start to incorporate them.

Thanks,
Cain.

[2017-06-01 02:17] 304NotModified commented on #26
:+1:

[2017-06-01 02:17] #26 closed

[2017-06-01 17:04] 304NotModified opened #27 "is "no reply <do_not_reply@domain.com>" supported?"
Is this format supported?

    no reply <do_not_reply@domain.com>

e.g. `Mime.ToString()`

[code]

But `DisplayName` is `null`

![image](https://cloud.githubusercontent.com/assets/5808377/26691366/22115932-46fd-11e7-8c21-4631ac443ee0.png)

[2017-06-01 17:08] 304NotModified opened #28 "Pattern for unit test"
I'm using this library in an unit test.

What's the best pattern to use this? It's not fully clear to me when I could start reading.

Currently I have this: ([full code](https://github.com/NLog/NLog.MailKit/blob/master/test/NLog.MailKit.Tests/MailTargetTests.cs))

[code]

It works, but it's a bit unstable.

Thanks for your advise!

[2017-06-01 17:22] 304NotModified commented on #27
this is version 2.2, but the same result is in 3.0

[2017-06-02 09:54] cosullivan commented on #27
Hi, that DisplayName property has been obsolete for a while now so I've just removed it as it is misleading.

What you've posted are the message headers of the MIME content which will be different to the From and To properties that are on the message transaction. The From and To properties (which are collections of IMailbox) are taken from the MAIL and RCPT commands that are sent from the mail cli

[2017-06-02 10:10] cosullivan commented on #28
Hi,

You should be able to start receiving messages as soon as the call to the StartAsync method returns. I have a few unit tests which do this here;
SmtpServer.Tests/SmtpServerTests.cs

What errors are you getting? I will clone your project a bit later when and can have a look too.

Thanks,
Cain.

[2017-06-02 11:36] 304NotModified commented on #28
Well sometimes it won't work (not receiving messages). But maybe are the tests running in parallel, have to check that first.

So this pattern is correct?

[2017-06-02 11:37] 304NotModified commented on #27
Do you mean obsolete in your code? Or some RFC?

If it's the first, please add a `[Obsolete]` attribute

[2017-06-02 11:47] cosullivan commented on #27
Hi, Obsolete in my code - It was originally used for something else, the RFC doesnt support it.

rcpt = "RCPT TO:" ( "<Postmaster@" Domain ">" / "<Postmaster>" /
                  Forward-path ) [SP Rcpt-parameters] CRLF

Thanks,
Cain.

[2017-06-02 11:48] cosullivan commented on #28
Yes, that should be fine - in my tests I am waiting for the task and handling the cancellation exception, but in theory there is no need for that.

It sounds more likely to be an issue with having the tasks run in parallel and potentially the availability of the ports.

[2017-06-06 15:37] MaddalenaTech opened #30 "[Question] Authentication"
How to know if the context is authenticated ? (and maybe the relative username)

[2017-06-06 17:27] MaddalenaTech opened #31 "Bug in authentication"
The default .net SmtpClient produce an AUTH command recognized as invalid by SmtpServer.
The problem is in the base64 password which is not recognized as base64

Ex:
AUTH login bWF0dGVvQHBoYXNjb2RlLm9yZw==

[2017-06-07 06:36] Dafnafrank opened #32 "VS 2015 and .Net"
We are using your wonderful server. Thank you very much!
We wanted to ask you if you can make a VS 2015 with .Net (not core) version...?
Since you moved to 2017 we cannot use your server since we do not work with .Net Core nor VS 2017

[2017-06-07 09:48] #27 closed

[2017-06-07 14:38] cosullivan commented on #30
Hi,

At the moment the ISessionContext has a SessionAuthenticated event that you can subscribe to. You can get access to the ISessionContext when a new session is created through subscribing to the SessionCreated event on the SmtpServer instance itself.

In the next release I have added an IsAuthenticated property onto the ISessionContext interface itself such that it is easily accessible.

Thanks

[2017-06-07 14:40] cosullivan commented on #30
I should also mention that in terms of the username, this isn't directly supported. In the next version though, I have added a Properties property (IDictionary<string, object>) to the ISessionContext interface that acts as a general area to maintain custom state for a session.

In this case, you will be able to assign the user name to this session state during the call to your authentication metho

[2017-06-07 14:47] cosullivan commented on #32
Hi,

Thanks for your feedback.

Are you building the project yourself? If so, can you not use the packages from NuGet? I can add a VS2015 version, but just want to see if there are other options before I start maintaining another solution.

Thanks,
Cain.

[2017-06-07 14:55] Dafnafrank commented on #32
Yes, We are building the project ourselves (after downloading) and referencing it.

Sent from my iPhone

On 7 Jun 2017, at 17:47, cosullivan <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi,

Thanks for your feedback.

Are you building the project yourself? If so, can you not use the packages from NuGet? I can add a VS2015 version, but just want to see if there are other opti

[2017-06-07 15:09] cosullivan commented on #31
Hi,

There are a few different issues here;

a) There is a bug in the parsing of the Base64. I've created a failing test and will fix this.
b) There was also a bug in parsing the the single line authentication method and I have just fixed that.
c) Are you sure that the client is sending "login" here and not "plain"? According to the RFC's, I don't think it is allowed to send a single line with the

[2017-06-07 15:14] cosullivan commented on #32
Ok, I will add a VS2015 solution in the next few days.

Thanks,
Cain.

[2017-06-07 15:46] cosullivan commented on #31
Ok, as per item (c) it looks like there is another RFC compliant version of the AUTH command that accepts AUTH LOGIN USER_ID.

I will implement the support for that.

[2017-06-08 13:34] ryzam opened #33 "Add cassandra as storage message"
Hi .. i already fork and add some initial code to work with Cassandra as storage db

[2017-06-09 13:45] cosullivan commented on #33
Hi,

Thanks for your interest.

At this stage I am not keen on adding additional message stores into my branch as I want to keep the dependencies on the package to the absolute minimum.

This type of thing would be good as a separate package in its own right, ie, SmtpServer.Storage.Cassandra.

If you create a separate project, let me know and I will follow your progress.

Thanks,
Cain.

[2017-06-09 16:58] ryzam commented on #33
Do you have any project roadmap ? And any plan to build complete Mail Server for .Net?

[2017-06-09 18:31] molynerd opened #35 "Can't inspect Bcc's"
I'm using this to help write some unit tests for a mail client, but it looks like i can't inspect the Bcc's when receiving the message in the message store.

I've validated that sending the exact same message to something like smtp4dev works just fine and the Bcc's are properly listed there.

![image](https://user-images.githubusercontent.com/6462105/26989200-0f12de18-4d07-11e7-9db2-1414fddc5a6e.p

[2017-06-09 20:07] molynerd opened #36 "User Authenticator not executed"
Looks like a wired up IUserAuthenticator doesn't actually get used. Can you add a unit test so that I can validate my implementation, as well as validating the code works? I'm doing a fairly simple `SmtpClient.Credentials = new System.Net.NetworkCredential("testuser", "testpass"), but the `AuthenticateAsync(string, string)` method is never called.

[2017-06-10 04:11] cosullivan commented on #36
Hi,

There are two other things you will need. By default, the AUTH command wont be advertised to the client unless the UserAuthenticator has been set (which you have) and the connection is secure (via the client calling the STARTTLS command). The STARTTLS command isn't advertised unless you supply a certificate.

If you want the AUTH command to be available on an unsecure connection, then call th

[2017-06-10 04:21] cosullivan commented on #35
Hi,

The BCC property is not transmitted in the actual MIME content as this would then go against the purpose of the BCC (in that those recipients should not be known to the receiver).

The BCC addresses are available to the mail server through the message transaction. For example, when the mail client (if it is acting as a relay server) sends the message to the server, it simply tells the server

[2017-06-10 05:59] cosullivan commented on #33
Hi,

At the moment I am just going to focus on building up some more samples and support a few more of the RFCs (BDAT, International Email address).

I don't have any plans at the moment to build a complete mail server as I have something close to that for a non-open source project, and hence why I built this component in the first place.

Thanks,
Cain.

[2017-06-11 14:10] cosullivan commented on #32
Hi Dafna,

I've pushed pushed a version that contains a VS2015 solution.

Thanks,
Cain.

[2017-06-11 14:37] Dafnafrank commented on #32
This is great!
Thank you!!

Sent from my iPhone

On 11 Jun 2017, at 16:11, cosullivan <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Dafna,

I've pushed pushed a version that contains a VS2015 solution.

Thanks,
Cain.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/cosullivan/SmtpServer/issues/32#

[2017-06-13 23:21] molynerd commented on #36
@cosullivan oh man, sorry about that. Obviously one would need a cert to do TLS. I don't know how that slipped my mind.

[2017-06-13 23:26] molynerd commented on #35
@cosullivan

Yeah, all I meant by this issue is that I wasn't able to test whether the BCCs were there, even though the mail is sent/received successfully and correctly.

Thanks for putting the test out there. I didn't consider looking in the `To` prop to see if they were there. You can go ahead and close this one out.

[2017-06-14 00:07] #35 closed

[2017-06-14 00:08] #36 closed

[2017-06-14 10:39] #28 closed

[2017-06-14 12:06] Dafnafrank opened #37 "Font size problem"
Hi,

Thank you for your great SmtpServer. We have been using it quite some time.

We encountered an issue  with the Smtp Server that we wanted to consult with you.
In SmtpCommand.cs
[code]
We think that the above highlighted code causes the below problem.

Problem:
When mime part is text/html and the CRLF is located right after the numeric part of the font size declaration,
removing the first peri

[2017-06-14 12:10] Dafnafrank opened #38 "Encoding issues"
Hi,
When we send an email using "Thunderbird" and sending the email with non-English encoding (for example Russian),  the mail that reaches the client is in gibberish and not as it was originally written.
I think there is a bug in the way the server handles the encoding part.
I couldn't find a way to fix this.

[2017-06-14 12:52] cosullivan commented on #37
Hi,

Yes, this was a known issue previously and was fixed in the v3.0.0+ version. I assume you must still be using the 2.2 version from a while back.

If you update to the current version that should be solved.

Thanks,
Cain.

[2017-06-14 12:54] cosullivan commented on #38
Hi,

This should also now be fixed in v3+. There was an issue previously in how it was handling the Unicode characters.

You can see the test here showing that it now works correctly;
https://github.com/cosullivan/SmtpServer/blob/master/Src/SmtpServer.Tests/SmtpServerTests.cs#L41

If it still doesn't work with the new version, can you please send me some more information (ie, the text that you are

[2017-06-14 13:03] #33 closed

[2017-06-14 13:03] #32 closed

[2017-06-14 13:07] Dafnafrank commented on #38
Hi,
I think it was not resolved.
Just use Thunderbird as the mail client and send an email with the following text "שלום שלום שלום" in the body. In the "Options" -> "Text encoding" -> Choose "Hebrew Visual"
Now send the email and you will see the when you get the email it is in Gibberish and not as you wrote the body originally.
We discovered this when using Thunderbird (which is apparently a comm

[2017-06-14 13:23] cosullivan commented on #38
Hi,

I just added a test for these characters and it worked fine;
https://github.com/cosullivan/SmtpServer/blob/master/Src/SmtpServer.Tests/SmtpServerTests.cs#L42

Are you able to send me the complete MIME context? It will be quicker than me setting up Thunderbird, else I can have a look in the next week or so.

Thanks,
Cain.

[2017-06-14 13:39] Dafnafrank commented on #38
Maybe this is because we are not using the server correctly.
In the previous version we used the IMimeMessage.Mime property to get the entire mime.
Since we saw you removed this class, we used instead:

[code]
But we do not get the mime properly.
Is there a way to get the full mime like before?

[2017-06-14 13:52] cosullivan commented on #38
Ok, that will be the issue. You are only returning the body portion of the MIME content, and not the MIME headers.

MimeKit is good if you want to read the raw contents of the message into a usable object model, but if you are just interested in the plain MIME content (like it would have been previously) then the ITextMessage.Content property is that MIME content.

If you want to return it as a st

[2017-06-14 14:05] Dafnafrank commented on #38
I will try your suggestions and let you  know.
But - can you please try the same new test, just write that line in the body and not in the subject?

[2017-06-15 06:57] Dafnafrank commented on #38
We tested this scenario again and it still fails. Using Thunderbird, it's easy to change the encoding and reproduce this bug.
I have attached two files, one that holds a utf8 encoding (which works fine), and the second, contains windows-1255 encoding, which fails because we get a Gibberish email.

[utf8encoding.eml.txt](https://github.com/cosullivan/SmtpServer/files/1076821/utf8encoding.eml.txt)
[

[2017-06-16 12:40] cosullivan commented on #38
Are you able to share details of how you are extracting those emails to text files?

The mail server itself only deals with individual bytes and will keep reading those bytes until it receives a dot-block sequence, which effectively is the following 5 bytes "13, 10, 46, 13, 10".

Those bytes are then available as a stream without any form of encoding/decoding, that its then up to the user.

The su

[2017-06-16 14:55] Dafnafrank commented on #38
We are saving the entire mime as a file during the process, only for debugging.

Sent from my iPhone

On 16 Jun 2017, at 15:41, cosullivan <notifications@github.com<mailto:notifications@github.com>> wrote:

Are you able to share details of how you are extracting those emails to text files?

The mail server itself only deals with individual bytes and will keep reading those bytes until it receives

[2017-06-16 16:07] cosullivan commented on #38
How are you copying it though? I am wondering if the issue is when you are writing that file to disk that the encoding is being lost as I can't see how the server wouldn't pick it up when it is just reading bytes from a network stream.

Can you try something like this;

    using (var file = File.Create("C:\\Temp\\message.bin"))
    {
        textMessage.Content.Position = 0;;
        textMessage.

[2017-06-16 16:20] Dafnafrank commented on #38
We encountered this bug when we got emails in Gibberish and investigated it. The emails were sent using Thunderbird.
I don't think that the encoding is being lost since we simply save it as text file.

Sent from my iPhone

On 16 Jun 2017, at 19:07, cosullivan <notifications@github.com<mailto:notifications@github.com>> wrote:

How are you copying it though? I am wondering if the issue is when you a

[2017-06-16 18:21] xsharper opened #39 "options.AuthenticationRequired() causes connection abort"
If authentication is required , client connection is aborted when user attempts to login.

Can be easily reproduced in SessionContextExample sample code, just by requiring authentication in options.

Can fix like:

    void OnSessionAuthenticated(object sender, EventArgs eventArgs)
    {
            _context.SessionAuthenticated -= OnSessionAuthenticated;

            WaitingForMail.Clear(AuthComm

[2017-06-17 04:22] cosullivan commented on #39
Thanks for finding that, it was a bug that was recently introduced.

I have now fixed it and uploaded a new NuGet package.

Thanks,
Cain.

[2017-06-17 09:07] cosullivan commented on #38
I've modified on of the tests such that it allows passing of the charset property through to the message.

![image](https://user-images.githubusercontent.com/2428335/27251709-f5310816-537e-11e7-8012-9a7c6038b309.png)

If you have a look at the screenshot, the Content-Type and Content-Transfer-Encoding are the same as you example, and the characters display the same too.

However, the test will sti

[2017-06-17 14:06] #30 closed

[2017-06-17 14:06] #31 closed

[2017-06-17 14:07] #37 closed

[2017-06-19 12:10] Dafnafrank opened #40 "strong name signing load error"
We are trying to use the server as a nuget in Visual Studio 2015 and we get an error:
Error: System.IO.FileLoadException: Could not load file or assembly 'SmtpServer, Version=4.1.1.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required. (Exception from HRESULT: 0x80131044)
File name: 'SmtpServer, Version=4.1.1.0, Culture=neutral, PublicKeyToken=n

[2017-06-20 14:24] Dafnafrank commented on #40
Wonderful!
Thanks

From: cosullivan [mailto:notifications@github.com]
Sent: Tuesday, June 20, 2017 5:20 PM
To: cosullivan/SmtpServer <SmtpServer@noreply.github.com>
Cc: Dafna Frank <dafna.frank@gmail.com>; State change <state_change@noreply.github.com>
Subject: Re: [cosullivan/SmtpServer] strong name signing load error (#40)

Hi Dafna,

At the moment I haven't signed the SmtpServer component. I wi

[2017-06-29 14:12] #39 closed

[2017-07-04 10:24] bernharde opened #41 "501 on heavy load"
At the moment I'm sending a lot of mails concurrently - heavy load test.

I create 100 mails and send them in 3 seconds by using an external smtp server. Only about the half is receiving. For the other half I got errors 501
550 5.0.350 Remote server returned an error -> 501 expected NOOP/RSET/QUIT/RCPT/DATA, 4 retry(ies) remaining.
In my log I can see that the MailFilter is called successfully all

[2017-07-04 13:28] cosullivan commented on #41
Hi,

In terms of the failures you might be experiencing some port exhaustion;
https://msdn.microsoft.com/en-us/library/aa560610(v=bts.20).aspx

If you want to use the server on Windows for high throughput traffic you will need to configure your TCP settings to allow this to occur.

Is your MessageStore not being called for any of those requests?

What response is your MailboxFilter returning and c

[2017-07-04 14:19] bernharde commented on #41
Thank you for the hints. Shame On Me. My fault.
Return value in MailboxFilter was wrong sometimes. Now everything is working.

Have a nice day, Bernhard

[2017-07-04 14:19] #41 closed

[2017-07-11 05:38] ultimategrandson opened #42 "OptionsBuilder.MaxMessageSize"
Firstly, I really like what you've done with this :)

I think, MaxMessageSize should be taken into account while the message is being received, it should stop accepting anymore of the message if it reaches the maximum size. Currently, I have put a check into my implementation of IMessageStore, but by the time that is called the message is already fully received.

[2017-07-11 12:31] cosullivan commented on #42
Hi, thanks for your feedback.

The message size limit is an interesting one. If the mail client and mail server are both implemented correctly to support the SIZE extension, then the mail server should advertise the maximum message size that it can accept and the mail client should advertise the size of the message it is going to send. In this case, the message can be stopped before it is even sen

[2017-07-12 06:16] ultimategrandson commented on #42
Hi, thanks for the reply.

From my testing, the MailKit library doesn't appear to take SIZE into consideration. At least, when using the standard Send method.

My original thinking was that it should close the session when the size has exceeded but now I'm thinking that could be worse if the mail client was to retry sending the email repeatedly.

It probably is a better strategy to accept the full

[2017-07-12 06:19] ultimategrandson commented on #42
Upon closer look, MailKit does allow you to see the max size, it just doesn't enforce it.

[2017-07-18 15:48] OneMiay opened #43 "Send a letter"
Using your SMTP server, I can send a message?

[2017-07-19 10:43] cosullivan commented on #43
No, but you can receive them.

[2017-07-19 11:16] OneMiay commented on #43
Thank you.

[2017-07-19 11:16] #43 closed

[2017-07-29 08:27] vesnaveen opened #44 "How to return msg on client when facing some exception"
We send the mail from client and its will get on server. When server executed so how to return message on client when facing some exception in smtpserver and how to client to know that what was my response

[2017-07-30 05:24] cosullivan commented on #44
Hi, I'm not really sure I understand your question that well.

What mail client are you using and do have a sample that you can post to help explain your question?

Thanks,
Cain.

[2017-07-30 10:07] vesnaveen commented on #44
I am using smtpclient right now.
Here is example for send mail.

using (var SmtpServer = new SmtpClient())
            {
                MailMessage mail = new MailMessage();
                mail.From = new MailAddress("test@gmail.com");
                mail.To.Add("test@test.co.in");
                mail.ReplyToList.Add(new MailAddress("test@gmail.com"));
                mail.Subject = "Test Mail

[2017-07-30 10:38] cosullivan commented on #44
Hi,

Within the SmtpServer there are different ways for it to return an error, but it all depends on what the client is doing at the time.

In any of the hooks (IMessageStore, IMailboxFilter, or IAuthenicator) you can throw a SmtpResponseException and pass the desired response. It is then up to the individual client as to how that is then handled.

What type of error are you looking for in particu

[2017-07-30 10:45] vesnaveen commented on #44
Ohh. I got it now.
I want just return message only when i face exception. I got this solution. your comment was very helpful for me.
Thank You :)

[2017-08-07 20:56] dudeNumber4 opened #45 "Add Account & Send"
I give up.  I can't figure out how to create the server, add a user account, & send a message to that account.

[2017-08-07 23:40] cosullivan commented on #45
Hi,

There are samples here that should help guide you through the setup;
https://github.com/cosullivan/SmtpServer/tree/master/Src/SampleApp/Examples

In regards to adding a user account, this component is responsible for handling the interaction with the mail clients so managing user accounts is outside of the scope of what this code provides. You can create an instance of an IUserAuthenticator t

[2017-08-09 18:17] HolyOne opened #46 "Relay Support?"
Are you guys planning to add relay support to smtpserver?
I also didnt find any dns mx lookup class to forward mails to the right mail servers.

[2017-08-17 09:40] cosullivan commented on #46
Hi,

No, I am not planning on adding that.

Thanks,
Cain.

[2017-08-22 20:46] petercrowley opened #48 "Timeouts not implemented"
I can't find any information on how to set any time outs.  I have a bad client that consistently sends the DATA command, then doesn't send anything after that.  The server just sits and waits forever, wasting resources.  I have to reset it manually.  I'd like to be able to set it to so many milliseconds, say 2 minutes worth, and then the system sends a 501 and closes the session.

https://tools.ie

[2017-08-23 11:47] #38 closed

[2017-08-24 12:26] cosullivan commented on #48
Hi,

At the moment there is no way to set the timeout, it relies on the session being terminated by the client. It is on my list to add support for this though, so I will do that in the coming days.

The reference to the timeouts that you list in your message are actually referring to the timeout the client should apply whilst waiting for the response from the server.

Thanks,
Cain.

[2017-08-31 13:56] petercrowley commented on #48
Thank you Cain.  I didn't realize that was a client document.  I'm anticipating the new code with happiness.

[2017-09-01 16:59] petercrowley commented on #48
Here's what I came up with.  Use it if you want.

Additional TaskExtensions:
        public static async Task<T> TimeoutAfter<T>(this Task<T> task, int millisecondsTimeout, CancellationToken cancellationToken)
        {
            if (task == await Task.WhenAny(task, Task.Delay(millisecondsTimeout)))
                return task.Result;
            else
                throw new OperationCanceledE

[2017-09-03 11:48] cosullivan commented on #48
Hi, thanks for your input.

I have added support for these timeouts now in a pre-release version;
https://www.nuget.org/packages/SmtpServer/4.3.0-Beta2

I have also exposed the timeout's on the OptionBuilder as;

    /// <summary>
    /// The timeout to use when waiting for a command from the client.
    /// </summary>
    TimeSpan CommandWaitTimeout { get; }

    /// <summary>
    /// The timeout

[2017-09-08 15:31] pirobox opened #49 "message-id retrieving"
Hi,
   is it possible to retrieve the Message-Id of the message in a custom MessageStore module (or in any other module)?

regards, Andrea

[2017-09-08 15:49] cosullivan commented on #49
Hi,

Yes, you can access the Message-ID as long as you have some way of parsing the MIME content. The easiest way would be to use MimeKit and that will give you a message object that you can then interrogate for the Message-ID.

Thanks,
Cain.

[code]

[2017-09-08 15:52] pirobox commented on #49
Thank you. I should have figured it out by myself. Too tired...

thank you again.

On Fri, Sep 8, 2017 at 5:49 PM, cosullivan <notifications@github.com> wrote:

[2017-09-11 11:25] HolyOne opened #50 "I need AuthenticationRequired to be false when user is coming from localhost only"
Hello, Is there a way users can bypass authentication when coming from localhost?
thanks

[2017-09-18 14:16] mrjack88 opened #51 "Catch and review email and add some data to its body on server side"
I would like to use your SmtpServer to create a sort of 'intermediate' server, that allows me to do some preprocessing, if possible, once i receive emails. I start the server, using this code you provided:
`var options = new OptionsBuilder()`
   ` .ServerName("localhost")`
    `.Port(25, 587)`
   ` .Build();`

`var smtpServer = new SmtpServer.SmtpServer(options);`
`await smtpServer.StartAsync(Canc

[2017-09-18 14:43] cosullivan commented on #50
Hi, sorry but there is no way to change that behavior as it would mean that the inner state machine would need to be exposed to some level.

Is there anyway you can control the user name and password from the client if it was local? You can override the authentication mechanism based on the origin of the request such that you always returned true to any username and password combination if the req

[2017-09-18 14:45] cosullivan commented on #51
Hi, is it possible that those ports are not accessible or blocked by a firewall?

What is the actual exception message? If you run the same test again, but running as an administrator do you still get the error?

Thanks,
Cain.

[2017-09-18 15:32] mrjack88 commented on #51
Ok.
 I have disabled firewall. Tried again but same error. Looking at the error message, it's in spanish (my mother tongue) so when translated looks like this: System.Net.Sockets.SocketException: A connection established by your host's software has been aborted. Seems to be that connections are being blocked, but by who (firewall is off).
On the Other hand runnig as admin (the VisualStudio) produc

[2017-09-18 15:38] cosullivan commented on #51
Ok, what about trying a different port? ie, 9025?

25 and 587 are the standard SMTP ports, so perhaps they are being used or blocked by something else?

[2017-09-18 16:12] mrjack88 commented on #51
Something weard happen, now when i start the server, everything is ok, and if i do a telnet to localhost 25 it return 220!! I  send an email i does not throw error, but i do not see in console the email's body, as should happen according to this:

`var options = new OptionsBuilder()
    .ServerName("localhost")
    .Port(25, 587)
    .MessageStore(new SampleMessageStore())
    .Build();`

.....

`

[2017-09-19 14:16] cosullivan commented on #51
Are you able to debug/step through your application to ensure that the message store is being called?

[2017-09-19 14:47] mrjack88 commented on #51
I have a breakpoint in this line:
`var message = MimeKit.MimeMessage.Load(textMessage.Content);`
but I am not able to step through the application, the breakpoint is never hitted.
One question: by passing the new SampleMessageStore() class i guarantee that the method SaveAsync is called? If not where am i supposed to call this function.
I have checked the samples you provided with the project but

[2017-09-19 15:19] cosullivan commented on #51
Ah, ok - you are using the SampleMessageStore from my samples. This should still be working, but can you try adding Tracing as per this sample;

https://github.com/cosullivan/SmtpServer/blob/master/Src/SampleApp/Examples/SessionTracingExample.cs

This will log all of the commands that are being sent from the client and you will be able hopefully have a better idea of where it is stopping.

Thanks,

[2017-11-14 11:11] pirobox opened #53 "send email to another smtp server"
Hi,
    is there any way for taking the incoming mail and send it to another smtp server?

regards, Andrea Pirola

[2017-11-14 11:31] cosullivan commented on #53
Hi,

You would need to implement the relay functionality yourself. The SmtpServer component would handle the incoming message, but then you would need to write something that then sent the message to other servers.

Thanks,
Cain.

[2017-11-14 11:48] pirobox commented on #53
Hi,
   thank you for the quick answer.
let me help to understand it better. Are you suggesting that I use an
external component that works as an smtp relayer or are you suggesting that
it would be possible to extend cosullivan to do the redirect?

regards,

On Tue, Nov 14, 2017 at 12:31 PM, cosullivan <notifications@github.com>
wrote:

[2017-11-14 12:00] cosullivan commented on #53
Hi,

So this source code (SmtpServer) handles the communication with a Mail Transport Agent (MTA). A MTA
can be a mail client or another mail server itself passing on the message as a relay server.

You would need to build that functionality yourself, the SmtpServer component here wont be able to cater for that. So what you would have is something like this;

Mail Client => SmtpServer (this source

[2017-11-15 07:12] ggo98 opened #54 "Not really an issue. Build problems. Can be closed now immediately"
Congratulations, this project is really nice.
Thank you.

I had many trouble (mainly nuget issues) to rebuild the solution with VS2017
(Microsoft Visual Studio Community 2017
Version 15.4.3
VisualStudio.15.Release/15.4.3+27004.2008
Microsoft .NET Framework
Version 4.7.02053)

but I suppose I've done it wrong.

I ended up to create a regular desktop project for the SmtpServer component, so it's ok

[2017-11-15 13:32] #40 closed

[2017-11-15 13:33] #44 closed

[2017-11-15 13:33] #54 closed

[2017-11-15 13:33] #46 closed

[2017-11-15 13:34] #45 closed

[2017-11-29 08:04] Schaussi opened #56 "Communication logs"
Hi,

I am looking for the simplest way for saving a full log of communications between 2 servers (HELO, DATA etc.), and assign it to the received message.
So basically I would need the MessageID and another string which contains the whole log for this message (e.g. like it looks via telnet).
Are events like OnSessionCreated, OnCommandExecuting and OnSessionCompleted the right approach to achieve t

[2017-11-29 11:13] cosullivan commented on #56
Hi,

The SessionCreated, SessionCompleted, and CommandExecuting events are designed for this. You probably want to do something like the following;

https://github.com/cosullivan/SmtpServer/blob/master/Src/SampleApp/Examples/SessionContextExample.cs

The ISessionContext contains a Properties property that is a dictionary of objects that you can use to track with the session. You could use this to

[2017-11-29 17:03] Schaussi commented on #56
Hi Cain,

using the session context events, is it possible to get a reference to the actual email message, e.g. get the message's ID in the SessionCompleted event?

Thank you

[2017-11-30 10:42] cosullivan commented on #56
Hi,

Yes, but you would have to add the Message ID to the ISessionContext.Properties dictionary yourself in your IMessageStore.

The IMessageStore will give you a Stream of data which is the MIME content. You can then use something like MimeKit to read that MIME stream and it will give you the Message ID. Once you have the Message ID you can do something like;

    context.Properties.Add("Message

[2017-11-30 10:58] Schaussi commented on #56
Works perfectly, thank you!

[2017-12-13 09:15] Schaussi commented on #56
Hi cosullivan,
would you please have a quick look at this - if there is no way to get the full log, it's also no big problem.
Thank you

[2017-12-13 11:45] cosullivan commented on #56
Hi,

Sorry there is no way to do it at the moment. The SMTP commands are parsed, but only the relevant bits of information are retained on the command object itself.

Thanks,
Cain.

[2017-12-19 22:08] #56 closed

[2018-02-10 11:52] Schaussi opened #57 "Handling exceptions"
Hi,
in rare cases it happens that unhandled exceptions (caused e.g. by myself) are thrown while I am processing emails, e.g. in the SaveAsync method.
I try to catch all possible exceptions, but for reasons I cannot really reproduce some of them are not caught and this results e.g. in a not responding SmtpServer.
Ttelnet'ing the server afterwards shows no welcome message etc. any more, but it also

[2018-02-10 20:48] Schaussi opened #58 "Single DATA line not accepted"
Hi,
I just experienced that simple test emails, e.g. with no text or only one line, are not processed.

E.g. this telnet example works fine:
[code]

Removing one "asdf" line results in a neverending telnet window with no more response:
[code]

Could you give me some information about this issue?
Thank you,
best regards

[2018-02-13 12:50] Schaussi opened #59 "CanAcceptFromAsync: returning NoPermanently/NoTemporarily still accepts message"
Example:
[code]

E.g. if you use only an empty recipient name, it works fine (501 syntax error).

(As a workaround, I check the same conditions in CanDeliverToAsync() again, so the sender can at least be blocked here)

[2018-02-13 13:02] cosullivan commented on #57
Hi,

Are you using the latest version from Nuget? This really shouldn't happen in that if your code in the Save method does thrown an exception, it should be caught by the SmtpServer and the error is then propogated to the client. It shouldn't cause the server to stop accepting connections.

Do you have a sample you can share that reproduces the issue?

Thanks,
Cain.

[2018-02-13 13:03] cosullivan commented on #58
Hi,

This might be a bug, I shall look into it.

Thanks,
Cain.

[2018-02-13 13:05] cosullivan commented on #59
Thanks, this is probably a bug in the state machine.

I will look into it.

[2018-02-13 14:00] cosullivan commented on #58
Hi, are you modifying this through Telnet yourself, ie, by backspacing and deleting characters?

This seemed to work fine for me.

[2018-02-13 14:07] Schaussi commented on #58
No, I wrote the commands into a usual Win10 cmd/telnet window (without any correction).
I have to write at least 2 lines of DATA before writing the dot.
If the dot is in the second line, it does not get accepted.

[2018-02-13 14:08] cosullivan commented on #58
Can you add that cmd script here?

[2018-02-13 14:11] Schaussi commented on #58
Sure:
[code]
(only modified the hostname in the first line)

[2018-02-13 14:19] cosullivan commented on #58
That works for me - the moment I press the enter key after that full stop it responds with
    .
    250 Ok

What version are you using?

[2018-02-13 14:24] Schaussi commented on #58
Strange...
I'm using v4.3.0 NuGet package.
Do you work under Linux?
Maybe the return/enter characters are different in the OS, like \r\n, or only \n, ...

[2018-02-13 14:36] cosullivan commented on #58
No, I am using Windows.

Can you send me the app that you are using (or a sample of it) to host the server?

[2018-02-19 17:12] AndrewGretton opened #60 "Feature request: any plans to implement RFC 8314 support?"
[RFC8314](https://tools.ietf.org/html/rfc8314) brings back port 465 for always-encrypted SMTP traffic - something that used to exist, went away, and has now been standardized again.

I wonder if you could see something like this working:

[code]
The implementation would be along the lines of changing `SmtpSessionContext:31` and wrapping the existing stream in an SSLStream created by calling `Authe

[2018-02-21 14:10] cosullivan commented on #60
Hi,

I haven't read that RFC but will do so in the next few days. I suspect it's as you suggested and rather trivial to implement in which case I should have it done soon.

Thanks,
Cain.

[2018-02-22 14:41] cosullivan commented on #59
Hi @Schaussi,

This is now fixed in version 4.4.0.

Thanks,
Cain.

[2018-02-22 15:08] Schaussi commented on #59
Great, thank you!
Best regards

[2018-02-22 15:08] #59 closed

[2018-03-02 14:50] siewers commented on #58
@Schaussi
This sounds like the issue I had when hosting in Linux. I made a PR back then, which fixed the issue, and I haven't had it since.
The issue was caused by the SMTP server waiting for an `Environment.NewLine`, which is `\n` on Linux, instead of `\r\n`, so I believe you are on to something with your comment.
I was receiving mails from Exchange, so I knew it would send `\r\n`, but it didn't

[2018-03-02 16:55] siewers commented on #58
@reinaldocoelho It _was_ a problem, but it got fixed.
What I'm saying is, that this issue could indicate another similar problem, but I have not encountered it, even though I'm hosting on Linux (Ubuntu in Docker).
The fix I'm referring to is this one https://github.com/cosullivan/SmtpServer/pull/47

[2018-03-02 17:09] reinaldocoelho commented on #58
@siewers Understood!
Even a single line DATA need the dot (.) in new line to finish the process.
Maybe the problem could be in the same way.

[2018-03-10 16:03] cosullivan commented on #60
Hi @AndrewGretton ,

I've just pushed a branch which support this;
https://github.com/cosullivan/SmtpServer/tree/feature/secure-port

I had to refactor a bit as the state machine needs to operate a bit differently if the session starts as authenticated, but the end result is that you can do

.Port(465, true)

There are a few breaking changes to the OptionsBuilder (now called SmptServerOptionsBuild

[2018-03-12 15:01] cosullivan commented on #50
Hi,

I know this is quite late, but I've realised there is an easy solution to this. You should be able to host two instances of the SmtpServer and pass the same filters and message stores to both instances.

The OptionsBuilder actually allows you to specific the IPEndPoint directly so you could create one server with

  new IPEndPoint(IPAddress.Parse("a.b.c.d"), 9025)

and the other one with

  n

[2018-03-12 16:42] rszabolcs opened #61 "Feature request: force secure connection (TLS)"
Would it be possible to add functionality into SmtpServerOptionsBuilder to enforce usage of forced TLS (and not opportunistic)?

[2018-03-13 00:04] cosullivan commented on #61
Hi,

Yes. You can do the following;

.Port(465, true)

which will make it upgrade to an SSL stream during the connection phase. Note that your mail client would also need to support it, and it's usually a connection on port 465.

Thanks,
Cain.

[2018-03-13 07:27] rszabolcs commented on #61
Hi,
thank you very much for your quick answer.

Is it not only SSL on connect? We would need force TLS.

[2018-03-13 12:03] cosullivan commented on #61
Hi,

I see what you mean now.

I am hesitant to add something like this that isn't included in an RFC. You could do this at present in an IMailboxFilter implementation by checking the ISessionContext.IsAuthenticated property and throwing an SmtpResponseException if it is not. It would achieved the desired outcome.

Additioanlly, with the recent changes I have made I have started exposing more of t

[2018-03-17 22:46] mrsaleh opened #62 "Develop branch"
Hi
Thank you for your great work. I notice that there is no develop branch and your last commit is WIP.
It is not better to work on develop branch and keep master branch stable.
Best regards.

[2018-03-18 13:42] #60 closed

[2018-03-18 13:42] #49 closed

[2018-03-18 13:43] #53 closed

[2018-03-19 11:56] cosullivan commented on #62
Hi,

Thanks for your feedback.

That last commit was for a minor change to the Readme file, so nothing really that could have caused disruption to the master branch.

As it is only myself doing the development, I haven't felt the need to get too structured in the branches. Whenever I do any work myself I create local branches until everything is working and then I will merge to master and push to

[2018-04-26 22:08] RobinsonWM opened #63 "Throughput decreases when receiving a large number of messages"
When receiving a large number of messages over a short period of time (e.g. 250,000 messages over a period of 2 minutes,) I am seeing very high CPU usage (95%+) and memory usage (3 GB+.)  The server initially accepts messages quickly but then slows down to the point of accepting only one message every few seconds.
Profiling showed contention related to `TaskExtensions.WithTimeout()`'s usage of `Ta

[2018-04-26 22:10] RobinsonWM commented on #63
As a workaround, I tried a different implementation of `TaskExtensions.WithTimeout()`, and the server was able to sustain 2,000 messages per second for several minutes using ~60% CPU and <20 MB.

[code]

[2018-04-27 03:30] cosullivan commented on #63
Hi,

The high CPU and memory usage are probably not much of an issue, the machine will always use as much CPU as it needs to (especially if nothing else is running).

In regards to the slow down you are experiencing, I would suspect this is probably due to port exhaustion in Windows rather than anything related to the SMTP server itself.

By default, Windows is not configured to handle a large vol

[2018-05-02 22:44] RobinsonWM commented on #63
Thanks for the suggestions, and sorry for my slow response.  I tried making those changes and restarting the computer, and they didn't seem to make a difference.
To give some background on my use case, I'm trying to use this library to simulate an MTA in order to test throughput of an application that sends mail.  The application I'm testing opens up only a few (fewer than 20) long-lived SMTP conn

[2018-05-03 13:48] cosullivan commented on #63
Hi,

Thanks for your feedback and time on this, I will have a look into this.

I spent a fair bit of time on performance testing & tuning using the Enron Corpus (https://en.wikipedia.org/wiki/Enron_Corpus) a while back, but I've also made some fairly big internal changes since then too.

Thanks,
Cain.

[2018-05-08 16:34] RobinsonWM commented on #63
The 5.1.0 package is working great for me!  In a quick test, I saw throughput of 1,573 messages/second.  Thanks!

[2018-05-28 19:42] reinaldocoelho commented on #63
Hi, this thread still open or need to be closed?

[2018-05-28 23:52] reinaldocoelho commented on #63
No problem :-D

Thanks.

[2018-06-04 08:53] vesnaveen opened #67 "Bcc not find in MimeMessage"
I am using latest version(5.1) smtp server. i have add bcc mail address properly in when i send email from smtp client. but the smtp server could not find bcc address. I have tried from diffrent-2 code. but bcc is not getting me. My code is:

[code]
So what should i do for get bcc address in mime message

[2018-06-04 10:27] reinaldocoelho commented on #67
Hi @vesnaveen.

If I understood well, it's not a bug or a problem.
BCC never comes to SmtpServer who receive the message for security reasons, and it would be removed by SmtpServer who send the message.

I hope it help :-)

[2018-06-04 10:34] vesnaveen commented on #67
Ok.
So any option for get BCC ?

[2018-06-04 11:31] reinaldocoelho commented on #67
No, becouse SmtpServers who sent EML to you don´t add this information.

[2018-06-04 12:52] vesnaveen commented on #67
This is big issue for us ,beacause we have provide option for cc and bcc in our service. and when is send via WebApi, Cc and Bcc both are wokring properly.
If this server will not allow Bcc address, So we will have to move on another Smtp server. So if you have another reference or solution regarding Bcc Address , Please help us

[2018-06-04 12:57] reinaldocoelho commented on #67
I understand, but I think you not will find any SmtpServer to receive messages who will give to you this information.

Who sent this BCC information is the sender (SmtpServer), and if you not control the sender (to create an EML with this information, and it will be an mistake for security and privacity reasons), you will not receive that.

Maybe @cosullivan  can give to you some suggestions.

[2018-06-04 13:16] cosullivan commented on #67
Hi @vesnaveen, @reinaldocoelho is correct here in that the Mime content will **not** contain any BCC addresses as that would default the whole purpose of the BCC field.

The addresses that are included inside the Mime content and those addresses that are passed to the SMTP server during the RCPT TO command can and will be different. The SMTP server has no knowledge of the contents of the message b

[2018-06-04 14:33] aap4ixx opened #68 "Question about example and documentation."
Hi,

First: big thanks for you project. Project is very god and bring the people benefits.
Second: But at this moment i can find normal documentation about you project (no example, no documentation).
May be i trying to find the wrong place?
At this moment i find small info in you Wiki and in the project "SmtpServer.Tests".

[2018-06-04 23:06] cosullivan commented on #68
Hi,

At the moment the only documentation I have exists in the samples here;
https://github.com/cosullivan/SmtpServer/tree/master/Src/SampleApp/Examples

I am planning on writing some documentation but just haven't gotten around to it yet.

Thanks,
Cain.

[2018-06-14 15:23] aap4ixx commented on #68
Sorry for delay.
I will try use you example, if i not found any example a will write here.
Big thanks for information and you project.

[2018-06-14 15:23] #68 closed

[2018-06-14 20:56] pjajohnston opened #70 "HELO style message not working anymore"
I've got a client/tool that was talking to the SMTP service using HELO instead of EHLO. The HELO command used to work under an older version of the library but no longer works... I'm tracing through the code to work out what has gone wrong but thinking it's something in the SmtpStateMachine code...

[2018-06-14 21:39] pjajohnston commented on #70
OK, so turns out the issue is in the SmtpParser.cs, TryMakeReversePath. The email comes through without any <> symbols...

[2018-06-14 21:46] #70 closed

[2018-06-19 03:00] Jaben opened #73 "Add the SMTPUTF8 extension"
First of all -- thank you for making this wonderful open source SMTP server!

I'm switching Papercut (https://github.com/ChangemakerStudios/Papercut) to use your server -- instead of our half-baked SMTP server -- for the .NET Core version. Only thing missing so far is the "SMTPUTF8" extension.

Given the following C# code using the SmtpClient:
[code]
.NET will throw an exception:

![image](https:/

[2018-06-19 12:18] aap4ixx opened #75 "Ho to stop server?"
Hi.
If i wont start the server i call smtpServer.StartAsync(CancellationToken.None);
What my need to do for stop server?

[2018-06-19 19:31] Jaben commented on #75
You use a cancellation token:

[code]

[2018-06-26 11:17] cosullivan commented on #73
FYI, I've just published version 5.2.0 to Nuget.

[2018-06-29 15:05] aap4ixx commented on #75
Hi,
Sorry for delay.
Thanks for you response.

[2018-06-29 15:05] #75 closed

[2018-07-02 09:09] tfrost opened #76 "TLS 1.2"
I successfully built a mail server using the SmtpServer version downloaded at the end of March this year.  But https://starttls-everywhere.org reports that it does not support TLS1.2.  What is the best way to resolve this?  Can I simply substitute a MailKit 1.22 or later?  Or even MailKit 2.0?  Are any changes needed in SmtpServer to support TLS1.2?

[2018-07-03 10:20] cosullivan commented on #76
Hi,

The default TLS is 1.0, I will look to change this in the future.

If you want to change it you can use the SupportedSslProtocols method on the SmtpServerOptionsBuilder and set it to SslProtocols.Tls12.

Thanks,
Cain.

[2018-07-03 21:04] #73 closed

[2018-07-04 11:42] tfrost commented on #76
Thanks,  that worked; I switched to 1.22 for Mailkit and MimeKit and also changed Default to SslProtocols.Tls | SslProtocols.Tls11 | SslProtocols.Tls12

[2018-07-04 11:42] #76 closed

[2018-07-06 19:28] jjxtra opened #77 "(Feature) Dispose mail server"
It would be nice to be able to dispose / close the smtpserver object. There are use cases with having a temporary mail server, such as testing or sending automated messages.

[2018-07-06 19:36] jjxtra opened #78 "(Feature) Message Filter"
The mailbox filter is great, however a message filter is needed to deal with spam or rules based messages. This message filter would run before the message store filter, and after the mailbox filter.

[2018-07-06 20:11] jjxtra opened #79 "(BUG) Attempting to use SSL hangs process"
When connecting via smtp client, the smtp client hangs. I tracked it down to NetworkClient:
[code]

Here is my ssl setup:
[code]

[2018-07-06 20:18] jjxtra commented on #79
This method fixes the infinite timeout, but does not resolve the inability to use a certificate:

[code]

[2018-07-06 22:03] jjxtra opened #80 "(BUG) Messages sent to gmail never arrive"
I am using mail kit to send messages with a mail server hosted with this library. I never receive those messages sent to my gmail account. The server I am running smtp server on has a reverse dns for the ip address that points to my mail server address.

Any suggestions?

[2018-07-06 22:17] jjxtra commented on #79
Using MailKit fixes the problem. It appears to be a C# SmtpClient problem.

[2018-07-06 22:17] #79 closed

[2018-07-06 22:18] jjxtra commented on #77
I guess the cancel token serves this purpose.

[2018-07-06 22:18] #77 closed

[2018-07-06 22:59] jjxtra commented on #80
Debugging into the code, it looks like it gets into an error state requesting one of the standard messages (EHLO/HELO, etc.). Not sure what do to at this point, except install hMailServer.

[2018-07-09 00:21] cosullivan commented on #78
Hi,

I will have a look into the feasibility of this but I suspect that would be called at the exact same time as the Message Store anyway.

For now you could abstract this into building a CompositeMessageStore (as per the CompositeMailboxFilter) and adding two Message Stores yourself. If the first one through an SmtpResponseException then that would mimic the behavior close to what the implementa

[2018-07-09 00:39] jjxtra commented on #80
We can close this one

On Sun, Jul 8, 2018 at 6:25 PM cosullivan <notifications@github.com> wrote:

--
-- Jeff

[2018-07-09 05:11] #80 closed

[2018-07-11 16:01] Jaben opened #81 "Support UTF8 in the parser"
We added the SMTPUTF8 extension -- but the parse doesn't currently support UTF8 encoded characters. Luckily, it looks like it's pretty simple to fix.

[2018-07-14 04:02] MohMehrnia opened #84 "How do Send Message"
how do send message with created server??
i used below code but not work
[code]

[2018-07-15 15:33] cosullivan commented on #84
Hi,

How have you configured the server? ie, what port, filters, etc?

Can you reference the examples here;
https://github.com/cosullivan/SmtpServer/tree/master/Src/SampleApp/Examples

Thanks,
Cain.

[2018-07-24 15:12] Nemo2478 opened #85 "The Console-Application closes"
Hello cosullivan,

I used the following code:

[code]

But when I want to start the console, it opens and closes.

In the Exit-Report, it release me this:

Then I thought it was because the option of debug "Only own code" was activated; so I deactivated it and I started the console again and then the same thing happens again (The console opens and closes) and the Exit-Report release me this:

Bye

[2018-07-25 01:09] cosullivan commented on #85
Hi,

You are calling StartAsync() in your Main and have nothing to wait for it to complete - that method is effectively returning to the Main method as soon as you call the "await".

Try this instead.

    static void Main(string[] args)
    {
        StartAsync().Wait();
    }

    public static async Task StartAsync()
    {
        var options = new SmtpServerOptionsBuilder()
            .Server

[2018-07-25 21:41] Nemo2478 commented on #85
Hello Cain,

the console don't closes anymore.

Thanks for your help

[2018-07-25 21:45] Nemo2478 commented on #84
Hello Cain,

I opened the ports but the same code of MohMehrnia don't work for me.

Regards and thanks

[2018-07-26 05:04] #85 closed

[2018-07-26 05:07] cosullivan commented on #84
Hi @Nemo2478 ,

Please have a look at this sample to enable tracing;
https://github.com/cosullivan/SmtpServer/blob/master/Src/SampleApp/Examples/SessionTracingExample.cs

And see whether you get any trace events happening?

Thanks,
Cain.

[2018-07-28 08:41] Nemo2478 commented on #84
Hello @cosullivan ,

I don't understand now. I have the following code:

[code]

But Visual Studio tell me the following:

Regards and thanks

Nemo

[2018-07-28 15:03] cosullivan commented on #84
Hi,

This is included as an extension method here;
https://github.com/cosullivan/SmtpServer/blob/master/Src/SampleApp/TaskExtensions.cs

Thanks,
Cain.

[2018-07-30 19:32] Nemo2478 commented on #84
Hello cosullivan,

My code, now, is this:

[code]

En this are the trace events I got:

But after a time the console closes. The Exit-Report is this:

Regards and thanks

[2018-07-31 12:11] OmidID opened #86 "Bot mail server"
I want to create a Bot mail server and do you think your project is ok for that?
As I understand with one custom MessageStore I can do that. Right?

[2018-08-03 00:33] cosullivan commented on #86
Hi,

I'm not sure what a Bot mail server is but yes you can pretty much do anything you want in the IMessageStore implementation, ie, store it, forward it on, etc.

Thanks,
Cain.

[2018-08-03 04:38] cosullivan commented on #84
Hi,

I would suspect that for some reason your mail client is not sending the actual message or at least the message has not been read completely and thus the network client is timing out and cancelling the operation;
https://github.com/cosullivan/SmtpServer/blob/master/Src/SmtpServer/Protocol/DataCommand.cs#L37

Thanks,
Cain.

[2018-08-03 06:12] OmidID commented on #86
Actually I need a functionality to know sender, receiver, body and subject to reply a main to the sender. I don't want to store any email.
I need to receive from any email address on a specific domain, ex: *@my-domain.com
Thank you so much.

[2018-08-03 22:07] Nemo2478 commented on #84
Hello cosullivan,

And can I avoid that the network client cancel the operation? How?

Regards and thanks

[2018-08-05 23:58] cosullivan commented on #84
No, but why would you want to? The mail client should start sending the data?

How long before it cancels?

[2018-08-08 08:25] Nemo2478 commented on #84
I want to avoid that the network client cancel the operation to send an E-Mail. The mail client should start sending the data by pressing a button.
Approximately two minutes before the console closes.

[2018-08-08 11:36] cosullivan commented on #84
Please try increasing the timeout then, the default is 2 minutes.

    var options = new SmtpServerOptionsBuilder()
        .ServerName("localhost")
        .Port(25, 587)
        .NetworkBufferReadTimeout(TimesSpan.FromMinutes(30))
        .Build();

[2018-08-10 16:32] Nemo2478 commented on #84
Hello cosullivan,

I did it but the E-Mail was not sent or not received... :( What else can I do?

Regards and thanks

[2018-08-13 01:00] cosullivan commented on #84
Hi,

Well if it wasn't sent then that would explain why it wasn't received :-)

Without seeing any code its hard to help any further, however that read timeout is applied to the underlying stream so in theory that should control how long the stream waits before timing out reading data.

Thanks,
Cain.

[2018-08-27 09:44] Nemo2478 commented on #84
Hello cosullivan,

But... I showed you my code.
What are you meaning with "read timeout"?

Regards and thanks

[2018-09-07 09:47] siewers opened #87 "Make SmtpSessionContext.Properties thread safe"
I don't know if it's an actual issue or just me doing something wrong, but, the `Properties` dictionary on the `SmtpSessionContext` is not thread safe.
In my current use case, I need to keep track of the number of messages I've processed during a transaction.
To do that, I increment a value in the properties dictionary for each message I process. Because two messages can access the dictionary at t

[2018-09-10 03:28] cosullivan commented on #87
Hi,

I can change that to a ConcurrentDictionary, but how are you getting multiple messages access it at the same time?

A new session context should be created for each session and typically a mail client would send messages sequentially.

Are you sending messages in parallel on the same connection?

Thanks,
Cain.

[2018-09-10 06:33] siewers commented on #87
As I said, I don't know if I'm doing something wrong, but when I receive BCC's it seems like I have the same transaction, but multiple messages. I couldn't find any oyher solution than keep track of the message number to solve that.

[2018-09-10 11:57] siewers commented on #87
Just to be sure you understand, I am not saying this is a bug in the SmtpServer project, it _might_ be an issue on my side. If you say that it shouldn't be possible to have two messages with the same transaction, I am most certainly doing something wrong here, but I need to make sure of that :)

[2018-09-10 12:16] cosullivan commented on #87
Yeah, it would be unusual if it allowed you to received multiple messages simultaneously as there is a state machine that is assigned to each session and this shouldn't allow inconsistent states.

Have a look at this sample;
https://github.com/cosullivan/SmtpServer/blob/master/Src/SampleApp/Examples/SessionTracingExample.cs

and turn on command level tracing if you can and then you can see exactly

[2018-09-10 12:36] cosullivan commented on #87
It's hard to know what the server will be sending, but in theory after the DATA command has completed (ie, the message has been received) the state machine will transition back to the WaitingForMail state and the MTA can then send another message, however the previous transaction itself should then be reset.

https://github.com/cosullivan/SmtpServer/blob/master/Src/SmtpServer/Protocol/MailCommand.

[2018-09-10 15:41] siewers commented on #87
I just did a test from Office 365 using a connector.
I sent a single message with one **to** and one **bcc**.
What Office 365 is doing is sending _two_ messages - one message sent to the **to** and one sent to the **bcc**.
Both messages are identical and in the _same_ transaction (with different recipients of course).

Is that to be expected or a bug?
If it's expected, my assumption about potentia

[2018-09-11 00:14] cosullivan commented on #87
Ok, it's unusual that they send the BCC's separately but its still perfectly valid.

The output log shows that the messages are being sent sequentially which is good and therefore you shouldn't really have any concurrency issues.

We might also be using different terminology here which could be a source of confusion. For me,  messages above are in the same _session_ but they are _different_ transa

[2018-09-11 07:18] siewers commented on #87
Oh yes, you are right. It's _session_ I meant.

I am modifying the session properties within the `SaveAsync` method.
The only issue I'm having is that I actually _don't know_ if it's an issue at all. I just saw the behavior (a _single_ case) which _could_ be caused by the dictionary not being thread safe, that is, two messages doing `TryGetValue` at the same time, making both messages the first on

[2018-09-13 02:23] VladimirAkopyan opened #88 "Attachments"
As the user is sending email through my SMTP server, I am aiming to get all attachments from the email and save them separately as files.
From reading the code, it appears that I should be able to get at attachments inside
`MessageStore`, but I can't seem to figure out how I would do that. Could you provide some guidance?
Is this a correct approach?

[code]

[2018-10-03 18:34] VladimirAkopyan commented on #88
Thank you, It's not clear that once i've created the message, I should be reading [MimeKit](https://github.com/jstedfast/MimeKit) documentation to understand what to do with it, and actually it's well documented.

[2018-10-03 18:34] #88 closed

[2018-10-04 10:15] siewers commented on #63
Is this still an issue?

[2018-10-05 09:39] cosullivan commented on #63
No, this is resolved.

[2018-10-05 09:39] #63 closed

[2018-10-24 18:45] thyn opened #89 "Forwarding"
Is it possible to forward email to another email server? I need intermediate server for message validation with forwarding to another email server.

[2018-10-27 03:28] cosullivan commented on #89
Hi,

Yes it is, but not purely with this.

The SmtpServer package will allow you to receive the message but you will need to implement a custom IMessageStore which then forwards it on.

Thanks,
Cain.

[2018-11-16 09:26] kbilsted opened #90 "Crash due to no available sockets"
Hi Sullivan

Great library! I was quick to throw together a working example. However Im facing many many open sockets (more than 1000)

	  TCP    127.0.0.1:57378        dev:smtp               TIME_WAIT
	  TCP    127.0.0.1:57379        dev:smtp               TIME_WAIT
	  TCP    127.0.0.1:57380        dev:smtp               TIME_WAIT
	  TCP    127.0.0.1:57381        dev:smtp               TIME_WAIT

[2018-11-22 20:31] #90 closed

[2018-11-26 13:30] cosullivan commented on #90
Hi @kbilsted ,

Apologies for not responding to this but I am not getting my GitHub notifications come through on email anymore for some reason.

Did you find a resolution to your issue that you were facing? If you are running this on Windows it sounds like it could be due to port exhaustion (that TIME_WAIT state is perfectly normal for TCP/IP). Windows (by default) is not configure to handle a la

[2018-11-30 14:51] kbilsted commented on #90
Hi @cosullivan

thanks for reaching out. I found the problem to be in the use of the `SmtpClient` (not your framework). It was using a new connection each time due to setting the connection details in my inner loop.

[2018-12-03 11:17] robeving opened #91 "Consider making SmtpSession public"
Currently SmtpSession is internal, meaning that the only way to access it is via SmtpServer which manages the TCP listener.

I have an existing solution which already manages TCP listeners, gives metric on connections etc. I would like to use this instead of SmtpServer. If SmtpSession was public I could.

[2018-12-04 15:52] robeving commented on #91
It effectively replaces SmtpServer.cs with a similar one that provides connection statistics, changes some of the properties of the TcpClient as well as fires callbacks when connections are made.

An interface wouldn't work for me as I want to be the owner of the TcpListener.

[2018-12-06 09:04] Letalis82 opened #92 "Attachments are not received completely"
Hi I'm using the MessageStore example.

To store the attachment in the message i'll used the following example:
`foreach (var attachment in message.Attachments)
            {
                using (var memory = new MemoryStream())
                {
                    if (attachment is MimePart)
                        ((MimePart)attachment).Content.DecodeTo(memory);
                    else

[2018-12-06 23:36] cosullivan commented on #92
Hi,

Based on your code sample there the first thing that stands out is that you are not awaiting on the WriteToAsync method. That could very much explain the issue you are seeing.

Can you first change your code to be an async method and await on that WriteToAsync call
    else await ((MessagePart)attachment).Message.WriteToAsync(memory);

and see if you still have the same problem?

Thanks,
Cain

[2018-12-07 08:58] Letalis82 commented on #92
Hi Cain,

Thanks for your reply.

Ik adjusted it to the following:
![image](https://user-images.githubusercontent.com/45654542/49637711-77b68c00-fa06-11e8-88e8-d02b71180fd9.png)

Unfortunately it has the same problem. When i break in the SaveAsync method it look that the attachment there is already incomplete.

[2018-12-07 10:00] cosullivan commented on #92
Hi,

I still think you probably have an issue in your use of async/await here.

I can't edit that because it's a screenshot so hopefully I can list the changes.

1. Make the SaveAsync method async, ie,

    `public override async Task<SmtpResponse> SaveAsync(...`

    and the method should then return

    `return SmtpResponse.Ok;`

2. Instead of using

    `new Task(() => SaveFile(message)).Start

[2018-12-07 10:08] Letalis82 commented on #92
Hi,

It looks like the same problem.

I changed it to the following:
` public override async Task<SmtpResponse> SaveAsync(ISessionContext context, IMessageTransaction transaction, CancellationToken cancellationToken)
        {
            var textMessage = (ITextMessage)transaction.Message;

            var message = MimeKit.MimeMessage.Load(textMessage.Content);

            await SaveFile(messag

[2018-12-07 11:10] cosullivan commented on #92
Hi,

If you can send me a sample application (including message) that reproduces this issue then I can take a look.

Thanks,
Cain.

[2018-12-07 12:56] cosullivan commented on #92
Hi,

Ok so the issue is in how you are sending the messages.

In Form1.cs, do the following;

1. Instead of this

    `private async void CreateMessage(MimeMessage message)`

    do this

    `private async Task CreateMessage(MimeMessage message)`

2. Instead of this

[code]

    do this

    `await CreateMessage(message);`

You need to be careful about how you are using async functions, especiall

[2018-12-07 13:01] Letalis82 commented on #92
Fantastic!

That did the trick. Thanks for your help!

Cheers

[2018-12-07 13:01] #92 closed

[2018-12-21 09:28] ramonsmits opened #93 "Why `Stream` property is on `ITextMessage` and not on `IMessage`?"
Why `Stream` property is on `ITextMessage` and not on `IMessage`? I would think that any message would have atleast a stream.

Also, currently there is only one message type. I would suggest refactoring this code away until there actually are multiple implementations.

I can provide a PR if wanted.

[2018-12-21 09:31] ramonsmits commented on #48
@cosullivan Can be closed?

[2018-12-21 15:18] #62 closed

[2018-12-21 15:18] #48 closed

[2018-12-21 15:31] cosullivan commented on #93
Hi @ramonsmits,

The `Stream` property is on the `ITextMessage` interface as opposed to `IMessage` for cases when the `IMessage` itself was pre-processed into something more meaningful.

For example, at one point I was actually making an `IMimeMessage` of which it had a property of `MimeDocument`;
https://github.com/cosullivan/SmtpServer/blob/feature/3.1.0.0-MIME/Src/SmtpServer.Mime/Mail/IMimeMess

[2018-12-23 21:34] gigajew opened #94 "Nuget package issue"
The documentation examples does not work from the nuget package...

http://cainosullivan.com/smtpserver is invalid

[2018-12-23 22:10] gigajew opened #95 "Messages not being sent"
This is what I get in the console. No messages sent.

SessionCreated: *.*.*.*:55552
EHLO: DomainOrAddress=DESKTOP-*******
MAIL: Address=**********@gmail.com Parameters=
RCPT: Address=**********@dispostable.com
DATA

[2018-12-24 00:03] cosullivan commented on #95
Hi,

You will need to provide some more information if you would like assistance on this.

Are you running one of the samples, or have you created your own app where you are seeing this? This appears an issue in that the client isn't sending the data.

Thanks,
Cain.

[2018-12-24 00:04] cosullivan commented on #94
Thanks, I will update this.

The up to date information is on the Github page.

[2018-12-24 00:04] #94 closed

[2018-12-24 00:54] cosullivan commented on #91
Hi @robeving ,

I've pushed some changes to a feature branch that I think might allow you to solve your problem without making the SmtpSession public.

The change now extracts all of the functionality that the SmtpServer requires from the TcpListener and will allow customization.

See the changes here;
https://github.com/cosullivan/SmtpServer/tree/feature/external-listener/Src/SmtpServer/Net

Effe

[2018-12-24 05:03] gigajew commented on #95
I'm using smtpclient without SSL. What information do you need?

[2018-12-24 06:15] cosullivan commented on #95
A sample application demonstrating the issue you are seeing.

Can you also run the following;
https://github.com/cosullivan/SmtpServer/blob/master/Src/SampleApp/Examples/SimpleExample.cs

and see if that works?

[2018-12-24 15:50] gigajew commented on #95
That would be the git version, I'll run this git example on the nuget version and post the result

[2018-12-24 16:44] gigajew commented on #95
Server: https://pastebin.com/HyGWZPQw
Client: https://pastebin.com/GfCZDm74
Server log: https://pastebin.com/A165X7br
And no mail in the mailbox

[2018-12-24 23:51] cosullivan commented on #95
Are you expecting a message to be sent to the testme@dispostable.com account?

I can only deduce from limited information that you are expecting it to operate as an open relay server , however that is not the purpose of this component.

When the message has been received it will make a call to the `IMessageStore` implementation that has been configured. By default, if you don't configure one it us

[2018-12-24 23:53] gigajew commented on #95
Oh I thought this was just kinda like a standalone mail server

[2018-12-26 01:18] #95 closed

[2019-01-24 16:36] BrewingCoder opened #96 "Support tracking authenticated user in session context"
In order to support rules for various metric limits on a per user basis the authenticated user needs to be transported across the entire session and available to all of the other delegates (storage, filter).

This should be pretty easy to handle, I'll throw a PR your way.

[2019-01-26 15:42] farshid3003 commented on #84
I have the same problem
[code]

no data without exception
please let me know what is this :
`client.ReadUntilAsync(new byte[] { 13, 10, 46, 13, 10 }`

I have another question
I get the email in this server and I want to change some staffs in the message body and then send it by my system.
dose this server automatically send the email to the destination ?
where is the best place to get the message

[2019-03-02 19:49] burakkasikci opened #99 "Mail sent by Outlook does not fall into application"
Hi,

SampleMailClient and a self-made console application when I send e-mail SmtpServer application everything works as it should.

"SessionCreated ...
..
Mail information
..
SessionCompleted ... "

But I could not run it from outlook and windows' own mail application. I have tried the incoming / outgoing e-mail server information like localhost / 127.0.0.1 / 127.0.0.1: 25. I have the type of acco

[2019-03-05 06:22] cosullivan commented on #99
Hi,

Can you try running the server with tracing as per the following example?
https://github.com/cosullivan/SmtpServer/blob/master/Src/SampleApp/Examples/SessionTracingExample.cs

This will give you more information on what the client & server are doing.

It's obviously connecting on port 25 ok if you are getting the session events being raised. Also, IMAP & POP3 are incoming mail protocols so ir

[2019-03-16 14:00] #99 closed

[2019-04-03 08:04] ramonsmits opened #100 "Tag versions in the repository"
It is not clear what currently is in one of the releases. By adding tags it is much easier to look at the change sets between version tags.

[2019-04-03 12:01] cosullivan commented on #100
I will start tagging releases in the future.

Thanks,
Cain.

[2019-04-15 12:32] #100 closed

[2019-04-15 13:18] vesnaveen opened #102 "Can we make limited connection for particular user"
We have to set  limited connection of the user who use to send mail. Suppose our limitation is 5 for one user. This user cannot create more than 5 parrell  connection at a time.
If there is logic in your code or are you know about this type of situation. Please let me know.

Thanks

[2019-04-16 11:37] cosullivan commented on #102
Hi,

Assuming you are able to keep track of the concurrent sessions externally to the server implementation, ie, your own cache for example, then it can be achieved in one of two places.

Firstly, if the user has to authenticate against the mail server then it will call the AuthenticateAsync method of your custom IUserAuthenticator implementation. From within this you can do

    throw new SmtpRes

[2019-04-17 06:22] vesnaveen commented on #102
Okay cosullivan, I got it.
Thanks for your response.

[2019-04-18 00:32] #102 closed

[2019-04-22 14:03] schommi commented on #89
Hey,

in a very similar manner I want to forward emails, however I would like to have the server work as a relay. To make this happen
* I would require authentication, when sending from an account on this server to somewhere else (to prevent having an open relay), however
* sending mails to accounts on this server should be possible without authentication.

I tried to return a corresponding error

[2019-04-22 14:20] cosullivan commented on #89
Hi,

I am not sure how Thunderbird works but I doubt it would prompt for credentials once it receives an error (either a 530 or a 550).

The reason for this is that the authentication needs to be advertised by the Server to the client when the client first connects and performs the initialization sequence (either the HELO or EHLO). The AUTH PLAIN LOGIN command will be advertised back to the client

[2019-04-22 18:25] schommi commented on #89
Cain,

first of all thanks for your swift reply. I really appreciate you taking the time. I Added tracing as suggested in the link. My server configuration looks like this:

ISmtpServerOptions options = new SmtpServerOptionsBuilder()
	.ServerName("localhost")
	.MessageStore(container.GetInstance<IMessageStoreFactory>())
	.MailboxFilter(container.GetInstance<IMailboxFilterFactory>())
	.UserAuthenti

[2019-04-22 23:43] cosullivan commented on #89
Hi Andreas,

Another place you could try returning the error is within a custom implementation of IMailboxFilter. Have a look here for an example of how that works;
https://github.com/cosullivan/SmtpServer/blob/master/Src/SampleApp/SampleMailboxFilter.cs

The IMailboxFilter happens prior to the message being exchanged which may work for Thunderbird. You would be looking to implement the logic in t

[2019-04-23 17:57] schommi commented on #89
Cain,

thanks for the link, this one helped me figure out, what happens, I additionally found some web resources. I logged an SMTP conversation between Thunderbird and my ISPs mail server to see, what happens, when not relaying. I added comments starting with a #.

220 mail.aschommer.de ESMTP
EHLO [192.168.0.11]
250-mail.aschommer.de
250-SIZE 20480000
250 AUTH LOGIN
AUTH LOGIN
334 VXNlcm5hbWU6 # "

[2019-04-24 01:57] cosullivan commented on #89
Hi Andreas,

Your analysis here is great. One thing I noticed that might be a difference is that your ISP's mail server uses AUTH LOGIN whereas I am using AUTH PLAIN LOGIN. From memory (it was a while ago that I did that part) they are two different things so perhaps that could be part of the issue. I will refresh my knowledge on that.

With regards the error code mapping in the IMailboxFilter, I

[2019-05-04 03:15] giantjunkbox opened #104 "Performance Issues - CPU exhaustion at relatively low throughput"
Thank you for this library, it seems well constructed and I learned a few things from studying it.

I have a project in which I'm attempting to construct an SMTP gateway which is capable of processing upwards of 1 million short messages per minute. I have the project, more or less, roughed out and this library is a great fit... almost....

During initial performance testing it became apparent that

[2019-05-05 06:59] cosullivan commented on #104
Hi,

I wouldn't be against a PR like that as long I was comfortable that the async/await was actually the issue and the improvements were large enough. The reason for the heavy use of the async code is because the main work of this component is the communication over the network to the clients and thus for the most part should be IO bound rather than CPU bound. You may be seeing more CPU bound loa

[2019-05-07 07:43] giantjunkbox commented on #104
Built out some proper tests, and discovered part of the issue, for reasons unknown it takes awhile for things to get going.

I was originally speculating that the the thread pool is relatively slow to add more active threads to the pool. Since it starts out defaulted to the number of hardware threads for both regular worker threads and completion threads, it takes awhile to get the thread pool up

[2019-05-08 01:26] giantjunkbox commented on #104
Spent some more time looking at this.

With the async version it can take up to a couple of minutes to get a sufficient number of threads (72) running to handle the requests. Carefully fiddling with the ThreadPool.SetMinThreads appears to improve this; however increasing it to a large value hurts the overall performance. I have been testing with 60 connected clients sending non-stop messages, so 7

[2019-05-09 02:30] cosullivan commented on #104
Thanks for your effort on this.

I will take a look at the sample over the next few days as I am also curious to see whether any suitable gains can be made.

Let me know when you have anything you can share for the project you are working on as I am always keen to hear how it is being used.

[2019-05-09 07:10] giantjunkbox commented on #104
I was also curious if there were any optimization opportunities, but the profiler is about useless - it just essentially reports almost all of the time is spent on async stuff.... thanks.... Perhaps the new version of Visual Studio does a better job.

The project I am working on is essentially a very fine grained SMTP sink. We have a system that sends pages to via various methods, the system is fa

[2019-05-14 17:29] AnassKartit opened #105 "How to extract attachements ?"
How can i extract attachments any example for EML?

[2019-05-15 12:33] cosullivan commented on #105
Hi,

The sample here will show you how to read the contents of the message;
https://github.com/cosullivan/SmtpServer/blob/master/Src/SampleApp/SampleMessageStore.cs

The contents if the message will be a MIME document so you can then use something like MimeKit to parse that MIME document and access the attachments.

Thanks,
Cain.

[2019-05-21 12:23] #42 closed

[2019-05-21 12:24] #51 closed

[2019-05-21 12:24] #57 closed

[2019-06-14 07:44] jaredrsowers opened #106 "Catching Exceptions for Logging"
I would like to be able to log all exceptions that happen, but I do not see a way to gain access to them currently.

Am I missing something?

It looks like they only make their way to the Run method of SmtpSession, but die there:
[code]

By doing this it can be pushed up to SmtpServer.ListenAsync():
[code]

While this solution exposes it to the SessionCompleted Event, it will add the Exception pro

[2019-06-14 15:09] cosullivan commented on #106
Hi,

Yeah I think that looks fine.

My preference would be to add the new event as per your last example but calling it SessionFaulted instead. That way the session would either "Fault" or "Complete" but I don't think it should raise the SessionFaulted event and then the SessionCompleted event.

The SessionFaulted event handler should probably use a SessionFaultedEventArgs which inherits from Sess

[2019-06-14 18:01] jaredrsowers commented on #106
Sounds good, I will send a pull request.

[2019-06-14 18:12] jaredrsowers commented on #106
My only concern with not calling both SessionFaulted  and SessionCompleted is that it would be a somewhat breaking change. In that, if people update their package and have cleanup code that needs to run on the SessionCompleted then it will suddenly stop working until they also implement the cleanup code in SessionFaulted.

For example, I create a Lifetime Scope for my IOC container in SessionCreat

[2019-06-15 04:44] cosullivan commented on #106
Ok, make it raise both the SessionFaulted and SessionCompleted events then.

[2019-06-16 02:50] #106 closed

[2019-06-16 02:50] #84 closed

[2019-06-16 02:51] #96 closed

[2019-06-20 17:40] justinjstark commented on #35
For others who stumble upon this, I'm using the code below to add the BCC emails back in for my specific use case:

[code]

[2019-06-26 00:11] shapemetrics commented on #104
Have you attempted to use an RBL and memory cache model to handle lookups for say 3 or more hours? This could help you reduce the volume of abuse a bit by using spamhaus or some other RBL. I would also look at obrs DNS to see if the IP address is in the list of dynamic/non-static addresses. There are a few other things you can do to attempt find those types of abuses  You can do it at the connecti

[2019-06-26 02:26] giantjunkbox commented on #104
Thanks for the suggestion.

Our use case gets a bit complicated as the 'abuse' originates from internal automated systems and the message flow is often aggregated into a few trusted hosts that end up flooding us on the behalf of the misbehaving systems.

In order to not make things worse we essentially need to have extremely granular control of what gets dropped, while still allowing similar, but

[2019-06-27 18:34] judebigj opened #108 "stream.AuthenticateAsServerAsync never returns"
Hello ,
           I have set the Secure flag to true and using 587  as secure port.  I am using a self signed wild card certificate. I noticed that with the above settings, i am not able to authenticate as server. It always  gets stuck at AuthenticateAsServerAsync in the NetworkClient.cs.  Please check code below

[code]

Any Ideas what could be going wrong here?

[2019-06-29 00:05] cosullivan commented on #108
Hi,

It's hard to say what could be wrong without being able to run the failing code. How are you calling the server, ie, what mail client are you using?

It could be that the AuthenticateAsServerAsync method is failing if the certificate is not valid, but hard to say without being able to see the certificate.

Another issue might be that the client is failing the negotiating because it cant trust

[2019-06-29 04:55] judebigj commented on #108
*>>How are you calling the server, ie, what mail client are you using?  *
I configured Thunderbird Mail client to send email though the SMTP server
which is running on localhost.
I main objective I am trying to achieve is to mail the SMTP server as a
relay server for GSuite. There is provision
in Gsuite (bussiness Gmail) to forward outgoing emails from a domain to
your SMTP Server
More info here <

[2019-06-30 12:22] cosullivan commented on #108
Hi, there is not attachment?

[2019-07-01 05:13] judebigj commented on #108
I had attached the file via email. You can download the certificate file from [here](https://drive.google.com/file/d/1jKu5_G9hANiNbxnwhKFweF1d4gHmqvTR/view?usp=sharing)

[2019-07-02 13:57] cosullivan commented on #108
I can't see any issues, I am able to use your certificate in the SecureServerExample and it works fine.

If you can build the SmtpServer from source and link against that then I would suggest playing around with the boolean parameters of the AuthenticateAsServerAsync method, in particular the last one and see if that makes a difference.

[2019-07-03 10:13] judebigj commented on #108
I downloaded the latest source and tried switching the Boolean parameters on and off, but got the same result. To reproduce the issue, I configured Thunderbird to send email smtp server as follows :

![image](https://user-images.githubusercontent.com/9862996/60583410-75ec5580-9da8-11e9-84b5-13f0a8555cc3.png)

I run my application as console app and initialized smtpserver as follows:

[code]

Let m

[2019-07-03 10:42] sekmenhuseyin opened #109 "change IP address of smtp server"
Hi,

We have a problem that we couldn't solve on our own. We use Azure VM for smtp server. Its private IP is 10.0.0.4 and public IP is 20.188.39.114. When we send emails, smtp server uses private IP and because of that reciver servers can not find real domain name.

`Nevertheless your message appears to be sent from !10.0.0.4!.`
`You may want to publish a DNS record (A type) for the hostname !10.0

[2019-07-03 12:43] cosullivan commented on #108
Ok, I see what's going on now.

Your configuration here is not compatible with your Thunderbird settings;

`.Port(587, true)`

It should be

`.Port(587, false)`

That boolean parameter indicates whether or not the endpoint is secure by default, it is the same as doing

`.Port(587).IsSecure(true)`

To use a secure endpoint by default that translates to Thunderbird's "Connection Security: SSL/TLS" o

[2019-07-03 12:51] cosullivan commented on #109
Hi,

I don't really understand what your issue is.

When you say "When we send emails, smtp server uses private IP" how are you sending the emails? The SmtpServer component will only receive emails.

Thanks,
Cain.

[2019-07-04 05:30] sekmenhuseyin commented on #109
Sorry, my mistake. I really thought we were sending emails with smtp server.

[2019-07-04 05:30] #109 closed

[2019-07-04 12:00] judebigj commented on #108
Hello Cain,
                 Its working now! Thanks for that.
I have another scenario where the Authentication gets stuck:
Gsuite\Gmail has option to relay outgoing emails to an outbound SMTP server. You can find more info
[here](https://support.google.com/a/answer/178333?hl=en).
Our SMTP server is running on port 8888

[code]

In this scenario too the AuthenticateAsServerAsync  never returns. I

[2019-07-04 14:37] cosullivan commented on #108
Hi,

When you configured your Outbound Gateway Route? There are 3 options according to that link, _Perform MX lookup on host_, _Require secure transport (TLS)_, and _Require CA signed certificate_.

I haven't dealt with this before but I would suspect that if you have the 3rd option enabled then your self signed certificate wont work as it's not been signed but a trusted root. That might also be t

[2019-07-04 17:11] judebigj commented on #108
I just have the 2nd option checked (CA signed Cert is not checked). I am
running this on Windows Server.

to throws an exception.
Well, it eventually does after a while, this what I get :

Session Faulted!!
System.IO.IOException: Unable to read data from the transport connection: A
connection attempt failed because the connected party did not properly
respond after a period of time, or established

[2019-07-06 10:31] judebigj opened #110 "working with Distribution List (Group Email Id)"
Hello Cain,
                 I'm using this SMTP Server as relay server to relay emails . It works well for end user email ids , but it fails to identify whether recipient is a group ID.  Due to this it is not able to send emails to users in the Group ID.
Any suggestion what changes can done here?

[2019-07-07 14:22] cosullivan commented on #110
Hi,

I'm not sure what you mean by a Group ID?

[2019-07-07 16:21] judebigj commented on #110
There is a provision in Mail Servers where you can create a group and have users listed under that group.
Example: you can have group id alldevelopers@xyz.com and have all developer users listed under it.
So if one wants to send email to all developers he\she can send it to alldevelopers@xyz.com rather than mentioning each developer user's email id under to\cc\Bcc.

The current problem is the SMTP

[2019-07-07 23:38] cosullivan commented on #110
This logic would need to be done within your own implementation of IMessageStore. You would need to maintain a list of groups then instead of relaying to a single address, peform the lookup on the group and relay to each email address in the group.

The RFC for SMTP does include a EXPN command to expand groups, but that does nothing more than just allowing the users of the group to be listed to th

[2019-09-06 13:27] obsolate opened #112 "Authentication failed because the remote party has closed the transport stream."
Hello,

We are running the application on kubernetes with the following options.

var options = new SmtpServerOptionsBuilder()
                .ServerName("SmtpServer InboxSmtpServer")
                .Certificate(CreateCertificate(_hostingEnvironment, _logger))
                .UserAuthenticator(new AuthenticationHandler(....))
                .NetworkBufferReadTimeout(TimeSpan.FromSeconds(100))

[2019-09-08 12:47] cosullivan commented on #112
Hi,

Is your load balancer handling the TLS, ie, performing any sort of TLS termination? Or is it just passing on the connections to a pool of processes in the cluster?

Thanks,
Cain.

[2019-09-08 16:44] obsolate commented on #112
it’s in passthrough mode which only pass the traffic without doing any TLS termination.

[2019-09-18 23:44] cosullivan commented on #112
Hi, sorry for the delay in replying.

The most likely issue could be certificate validation. Are you using a self signed certificate here or have you purchased one?

[2019-10-01 20:30] beppe9000 opened #113 "Connection does not happen for subsequent sessions"
I "sent" an email to my storage implementation with the Opera Mail client (SessionComplete event has been raised). If I try to send a new email no event is raised (I setup tracing like [this](https://github.com/cosullivan/SmtpServer/blob/master/Src/SampleApp/Examples/SessionTracingExample.cs)).

Restarting the server program fixes this, but it is just a workaround.... I'm not sure if this is could

[2019-10-01 20:33] beppe9000 commented on #113
Whoops... I missed the cancellation of the token in the sessioncomplete event handler

[2019-10-01 20:33] #113 closed

[2019-11-15 16:02] nsabbagh opened #114 "Send email using my SMTP Server"
Hi, I tried to send an email using my SMTP Server to any gmail account, but couldn't.
I'm using this code

[code]

The listener is receiving the message and is handeling it.

![image](https://user-images.githubusercontent.com/57805703/68956949-c2718400-07d1-11ea-9829-eff07571defd.png)

But unfortunately the gmail account is not receiving the message.
Did I use it wrongly?

[2019-11-21 10:43] ml-workshare commented on #114
Try sending mail to a disposable email address (eg. sharklasers.com). It's possible it's being eaten by a spam filter.

[2019-11-21 10:49] nsabbagh commented on #114
Actualy, I'm using this app (cosullivan/SmtpServer) on two server, one on Amazon and the second is on my machine. What I'm trying to do is to send the an email using my local app (cosullivan/SmtpServer) to the app (cosullivan/SmtpServer) which is hosted on the Amazon server, also it dosent dilver it. But I will try to use sharklasers email and get back to you.

[2019-11-21 10:52] ml-workshare commented on #114
I'd also consider networking issues. Maybe some hints here to check connectivity. https://docs.microsoft.com/en-us/exchange/mail-flow/test-smtp-with-telnet?view=exchserver-2019

[2019-11-21 11:02] nsabbagh commented on #114
Also didn't work! I'm using a very easy straight forward code, have you tried to send an email using this app before?

            MailMessage mailMessage = new MailMessage();
            mailMessage.From = new MailAddress("test@test.com");
            //mailMessage.To.Add("test1@ec2-3-231-141-207.compute-1.amazonaws.com");
            mailMessage.To.Add("nour.alsabbagh@sharklasers.com");

[2019-11-21 11:03] nsabbagh commented on #114
Also didn't work! I'm using a very easy straight forward code, have you tried to send an email using this app before?

        MailMessage mailMessage = new MailMessage();
        mailMessage.From = new MailAddress("test@test.com");

        mailMessage.To.Add("nour.alsabbagh@sharklasers.com");
        mailMessage.Subject = "subject";

        mailMessage.Body = "body";
        mailMessage.IsBodyH

[2019-11-21 12:39] ml-workshare commented on #114
Yes, I've used it successfully in production qa.

I just re-read your code. You're using mimekit/mailkit to send email to localhost, which I assume is using this smtp library. All this library does is receive email. It doesn't onforward it for you - you have to write that bit yourself.

See: https://github.com/cosullivan/SmtpServer/issues/95

[2019-11-21 12:43] nsabbagh commented on #114
Actually yes, I'm trying to send email but NOT to localhost, I'm connecting to (cosullivan/SmtpServer) which is already running on my localhost machine and let (cosullivan/SmtpServer) to send me email to the appropriate email address

[2019-11-21 12:46] ml-workshare commented on #114
All this library does is receive email. It doesn't onforward it for you. You can extend this library to do that for you.

See also: https://github.com/cosullivan/SmtpServer/issues/89

[2019-11-21 15:14] nsabbagh commented on #114
Alright, Thank you so much

[2019-12-11 00:23] #114 closed

[2019-12-17 21:23] justinjstark opened #115 "The SMTP server does not support authentication."
I just upped SmtpServer from 5.4 to 6.3. Now I get this when authenticating using MailKit.MailService.Authenticate.

`System.NotSupportedException: 'The SMTP server does not support authentication.'`

Below is the code I'm using to construct the server. In 5.4, I used this exact same configuration but with the old SmtpOptionsBuilder methods for AuthenticationRequired and AllowUnsecureAuthenticatio

[2019-12-17 22:03] justinjstark commented on #115
Also, I don't know if it matters, but I'm trying to auth with a blank password.

[2019-12-18 14:51] justinjstark commented on #115
Here is my user authenticator:

[code]

[2019-12-23 05:54] cosullivan commented on #115
Hi @justinjstark ,

I think the issue is that you are calling .Port(...) and .Endpoint(...) together.

This was a change in that the .Port(...) is just a wrapper around defining a default endpoint for each of those ports that you have supplied. In your case, it's creating 3 endpoints, and your third endpoint wont be used as it doesn't have a port.

Can you try this?

[code]

[2019-12-23 15:05] justinjstark commented on #115
That was it. Thank you.

[2019-12-23 15:05] #115 closed

[2019-12-24 17:33] PaulCutcliffe opened #116 "SmtpServer can only be used with .Net Framework 2.0, nothing later - is that correct?"
**Hi!**

I have been working on an application that will run alongside a bespoke application that sends mail notifications via SMTP but doesn't support SSL or TLS connections. It will receive SMTP mail from this other application, then relay it to an SMTP server that insists on secure connections, such as those of Gmail, for example.

I've started with an [open-source project](https://www.codeproj

[2019-12-27 00:26] cosullivan commented on #116
Hi @PaulCutcliffe ,

It's built against .NET Standard 2.0 (which is different from .NET Framework 2.0) so it will run on .NET Framework 4.6.1+ and .NET Core 2.0+.

See here for the version compatibility table;
https://github.com/dotnet/standard/blob/master/docs/versions.md

Thanks,
Cain.

[2019-12-27 11:35] PaulCutcliffe commented on #116
Ah, that's great, and thanks for clarifying. 😁

[2019-12-27 11:35] #116 closed

[2020-01-03 09:48] Fleischhauer opened #117 "IP Address of outgoing mail"
Can you change/set the ip-address of outgoing mail to bypass SPF?

[2020-01-05 12:20] cosullivan commented on #117
Hi,

I'm not really sure what you mean here? This component is just the server component so it doesn't send emails?

Thanks, Cain.

[2020-01-05 19:30] Fleischhauer commented on #117
Well, sorry. I'm not that into packets yet. But the server has to send outgoing mails somehow, no? I want to spoof the out-ip of those packets.

[2020-01-06 00:52] cosullivan commented on #117
Hi,

No, this will not send the emails for you.

It is a component that handles the communication with Mail clients and Mail transfer agents and then will pass the incoming email onto your custom implementation of an IMessageStore.

If you want a full mail server then you can build one using this component, but it is not a full mail server.

Thanks, Cain.

[2020-01-06 15:42] Fleischhauer commented on #117
Oh, that was a misconception on my part.
In the example you use MailKit to actually send the mail? Is that from MimeKit?
Could you recommend a server that can do that?

[2020-01-07 11:22] reinaldocoelho commented on #117
To send emails you can use an simple postfix and paste to that the EML to send.

I was have this doubt in the past. :-D
We use SmtpServer to receive and a connection to postfix to send e-mails :-)

[2020-01-07 11:57] Fleischhauer commented on #117
I see, thank you!

I guess I'll just search for something that can send custom packets then.

[2020-01-08 20:45] large opened #118 "Option to see/log raw NetworkClient data"
Hi @cosullivan , thank you for a awesome package, I have been using it for months and it is stable and fine.

In some occasions I want to know all the raw data received/sent between server and client.
Your "LogVerbose" should be implemented for such a thing, LogRawNetworkData()?

Or are there any other places I could find what I'm looking for?
The TracingSmtpCommandVisitor is to "clean" for tracin

[2020-01-09 07:35] cosullivan commented on #118
Hi @large,

Thanks for your feedback.

I don't think adding a method to the Logger is the right place for this, but there is a way in which you can take control of the underlying stream that is being used and in which case you could log all of the read and write operations there.

The way to do this is to create your own IEndpointListenerFactory and if you look through that you will be able to cre

[2020-01-09 10:10] cosullivan commented on #118
FYI, I've added a sample here;
https://github.com/cosullivan/SmtpServer/blob/master/Src/SampleApp/Examples/CustomEndpointListenerExample.cs

[2020-01-09 11:19] large commented on #118
@cosullivan this is fantastic!
I did not know about this feature (and I have to work on my C# skills :))

Works as a charm and makes it possible to count connections, see violation etc...
Thank you very much!

[2020-01-09 13:39] large commented on #118
For testing purposes I added an override on Close();

[code]
On unsecure connections: Close() is called
On secure connections: Close() is never called (but several flushes...) data is also unreadable...

After checking the code a secure stream is SslStream() not Stream().
So is the cleanest solution to add another custom SslStream() and override UpgradeAsync(...)?
Or do you have other tricks in yo

[2020-01-12 17:20] kurucz09 opened #119 "TLS not working after upgrading to .Net Core 3.1"
Hi,

We have been using the SmtpServer component for more then one year. Our product runs in a docker container and receives email from Microsoft Exchange, updates the signature and then sends it back. The email from exchange to the component is sent through an outbound connector using TLS1.2 with a self signed certificate. After upgrading from .Net Core 2.2 to .Net Core 3.1 this stopped working.

[2020-01-13 13:41] cosullivan commented on #118
Ok, yeah that makes sense that you wont be able to read the stream contents as it will be encrypted.

There's no way with the current code then to do what you want. The two most likely changes would be to create some sort of IStreamFactory that you could implement that managed the stream creation.

The second is whether I expose the creation of INetworkClient such that you could create you own imp

[2020-01-13 13:48] cosullivan commented on #119
Hi @kurucz09,

I'm not sure what the issue would be but my guess is that it might be related to this change in .NET Core 3.0;
https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#tls-13--openssl-111-on-linux

What's not clear from that link though is whether TLS1.3 is forced when running on Linux.
If you are running on Docker then you are obviously running on Linux and then I ass

[2020-01-13 14:30] cosullivan commented on #118
FYI I am working on a solution and you can follow the progress here;
https://github.com/cosullivan/SmtpServer/tree/feature/DelegatingStreamAccess

Thanks, Cain.

[2020-01-14 13:59] AndriyTemplafy commented on #119
Hi @cosullivan

When we tried to run it on Docker, it didn't connect to Windows Exchange server even though the following setting was Tls12
[code]

So yes, it looks like on Linux using Tls1.3 is somehow forced. When we run the server on Windows it works with Tls12 setting, but stops working if we change it to Tls13 setting, as expected.

Best regards,
Andriy

[2020-01-14 21:25] large commented on #118
@cosullivan that is awesome! Looking forward to try the end-result

[2020-01-15 12:23] srosam opened #120 "Authentication Issue"
Hi.
I'm attempting to test some code that used authentication to send mail.

It connects and sends the mail to a real external smtp server but I cannot figure out how to get this working in my test code.

I have built up this options object:
[code]
The 'SampleUserAuthenticator' just returns true but is never called.

However my client gets back an error when attempting to authenticate:
"The SMTP s

[2020-01-15 12:43] srosam commented on #120
This,
`                .Endpoint(builder
                    => builder
                        .Port(port, false)
                        .AllowUnsecureAuthentication()
                        .AuthenticationRequired()

                    )
`

Resolved it

[2020-01-16 00:40] cosullivan commented on #120
Hi,

Glad that you have resolved it.

The reason it didn't work in your first example was because of setting

[code]

If you have this set to false (which is the default) and don't supply a Certificate then it wont advertise the _AUTH PLAIN LOGIN_ command to the client and therefore the client correctly determines that the server doesn't support authentication.

Thanks, Cain.

[2020-02-17 19:42] large opened #121 "Graceful restart of server"
Hi @cosullivan thank you for the this awesome library :)
This is more a question than a issue.

How do you ensure a graceful restart of the server?
(Server needs to be restarted when user change settings related to the SMTP server)

I have the following code
[code]

Are all ongoing SMTP clients gracefully ended on this method?
If an client just sits there, does it wait until NetworkBufferReadTimeo

[2020-02-18 13:10] cosullivan commented on #121
Hi @large,

Cancelling the CancellationToken should gracefully close the connections but it wont gracefully close the sessions.

For example, a client could be connected and be in the middle of a session and if the cancellation token is cancelled then they will be disconnected mid session. It wont wait for them to complete the session (by sending the QUIT command) but in theory it should be fine t

[2020-02-18 15:25] large commented on #121
Thank you for the feedback @cosullivan .
Your description is the behaviour I see in my tests.
I agree that closing the ports should work just fine, but I want a more gentle way.

Here is how I see the scenario:
1. Close new accepts (done with a IEndpointListener, I belive) to ensure no more sessions.
2. Wait for sessions to complete and probably a max time variable (for the idiotic NOP clients)
3.

[2020-02-19 00:58] cosullivan commented on #121
Hi @large,

Yes, it sounds like it probably needs a Shutdown method on the server.

I have some ideas on how to handle this so will take a look over the next week.

Thanks, Cain.

[2020-02-20 00:49] ryanelian opened #122 "Feat: Programmable API"
Hello,

First of all, thank you for writing this very exciting project. I'm thrilled by the possibilities unlocked when developing against this library.

I've noticed that this library basically spawns an SMTP server on a port. What I've wondered is: would it be possible to interact with the SMTP server instance without using SMTP protocol?

For example: `SendMailAsync` method is available which a

[2020-02-20 07:36] cosullivan commented on #122
Hi @ryanelian,

The whole purpose of this library is to handle the SMTP protocol and then pass the message off to your own implementation of something that handles the message. Therefore I'm not sure if there is any benefit to having an API to bypass the SMTP protocol as the library would almost do nothing.

This library itself doesn't send the messages, you would need to implement that yourself.

[2020-02-26 18:42] gurc4n opened #123 "Listener stops after a while"
Hi,
I am trying to develop a really simple app, it just needs to listen on port 25 and write to a database.

I created the server just like in the sample server app.

It works for several messages.. and stops listening..

Do I need to trigger the cancellation token after every message and recreate the server? Or do I miss something else here?

[2020-02-27 06:31] cosullivan commented on #123
Hi @gurc4n ,

No, the server doesn't need to be stopped, it should just keep running. When you say it stops listening, does it stop accepting new connections?

How many connections does it make before it stops and what operating system are you running?

Thanks, Cain.

[2020-02-27 16:47] biancapop opened #124 "StartTLS connection without auth"
Hello,
I need to create a StartTLS conexion without authentification for my smtp server. I tried all the ways you explain in the examples and documentation, even in the issues but I had no luck.
This is my actual code:
VERSION 1:
` var options = new SmtpServerOptionsBuilder()`
 `                                       .ServerName(listen)`
`                                        .Port(port)`
`

[2020-02-28 05:14] cosullivan commented on #124
Hi @biancapop,

In your configuration where you have `.Port(..., true)` or if you use `.IsSecure(true)` set those to false.

Setting those to true means the endpoint is secure by default and in which case it will try to update the connection to SSL when the client connects rather than waiting for the client to issue a STARTTLS command.

Thanks, Cain.

[2020-03-02 15:16] biancapop commented on #124
Hello Cain,
Thank you very much for your response. So I did what you said and I now can se the STARTLS command when connecting with telnet but when I try to send an email the connection ends. I used openssl to debug it and all I get this message:

`openssl s_client -connect generico.stampymail.com:25 -starttls smtp`

`CONNECTED(00000003)`
`140249106454416:error:140790E5:SSL routines:ssl23_write:ss

[2020-03-04 07:39] cosullivan commented on #124
Hi,

Two things to check, is your X509 certificate a self signed certificate or is it signed by a trusted CA Root?

Also, what environment are you running on? Are you running this on Windows or are you running under Linux?

Thanks, Cain.

[2020-03-04 07:43] biancapop commented on #124
Hello Cain,
I run this on Linux and I have a self signed certificate.
Thank you! :)

[2020-03-04 07:52] cosullivan commented on #124
Ok, then both of those could potentially be the cause.

Firstly, with the self signed certificate it will most likely be failing validation.

When using self signed certificates you have two choices, adding them as trusted roots to your computer or ignoring the validation errors;

See this in the samples;
https://github.com/cosullivan/SmtpServer/blob/master/Src/SampleApp/Examples/SecureServerExamp

[2020-03-27 22:22] large opened #126 "Unlimited AUTH attempts"
When a user is trying to authenticate it gets unlimited attempts.
Currently testing with Thunderbird.
Number of retries does not seems to count while doing authentication while other commands have limits.

Here is a log from an internal testing:
[code]

There should be a limit and the connection should be dropped if the user fails the authentication for x-number of times. Such implementation would

[2020-04-01 02:30] cosullivan commented on #126
Hi,

Thanks for raising this.

I've just pushed out a new version 6.5.0 which contains a MaxAuthenticationAttempts option to configure the server with. This defaults to 3 so you can change it if you need.

Thanks, Cain.

[2020-04-01 21:46] large commented on #126
Hi @cosullivan worked as a charm :) Nice work!

[2020-04-01 21:46] #126 closed

[2020-04-01 21:51] large commented on #118
@cosullivan did you get this thing working?

[2020-04-02 12:48] cosullivan commented on #118
@large I'm about half way through, but I've now got some spare time over the next few months that I am going to be working on a few different things on this project and going back to this is my first item.

[2020-04-07 03:25] cosullivan commented on #118
Hi @large,

If you are interested I have a working sample now in a branch here;
https://github.com/cosullivan/SmtpServer/blob/feature/DelegatingStreamAccess/Src/SampleApp/Examples/CustomEndpointListenerExample.cs

I am going to make a few more changes to the API before merging as a new version, but those changes are separate to this.

Thanks, Cain.

[2020-04-08 12:28] cosullivan commented on #118
This is now released in v7.0.0.

[2020-04-08 12:28] #118 closed

[2020-04-08 12:28] #124 closed

[2020-04-08 12:29] #122 closed

[2020-04-08 12:29] #50 closed

[2020-04-08 12:29] #67 closed

[2020-04-08 12:29] #61 closed

[2020-04-23 16:14] AndriyTemplafy opened #127 "IP address of remote endpoint is not working in filter in version 6.4.0+"
Hi,

We use this code to validate the IP address of the sender. In version 5.3.0 where there is still a property `context.RemoteEndPoint`, it works and we get a valid sender IP address. But in the following code, that we tested in all versions 6.4.0, 6.5.0, 7.0.0, it always returns IP 0.0.0.0

[code]

[2020-04-25 01:34] cosullivan commented on #127
Hi @AndriyTemplafy ,

Please see the following sample as to how it can be done now.
https://github.com/cosullivan/SmtpServer/blob/master/Src/SampleApp/SampleMailboxFilter.cs#L32

Thanks, Cain.

[2020-04-30 08:08] AndriyTemplafy commented on #127
Thank you! This worked.

[2020-04-30 08:08] #127 closed

[2020-05-03 08:39] satyamdilwala opened #128 "SASL Authentication"
As right now only plane Authentication is implemented how can I use SASL Authentication
or any way to implement as shown in MimeKit SASL Authentication
http://www.mimekit.net/docs/html/Introduction.htm

[2020-05-14 21:17] ramonsmits opened #129 "Missing tag and release 7.0.0"

[2020-05-24 02:43] cdwiegand opened #130 "Update SampleMailboxFilter - cannot put required params after optional ones"
[code]

causes an Error CS1737: Optional parameters must appear after all required parameters - I believe size should not have `=0` after it.

[2020-05-24 04:14] cdwiegand opened #131 "Remote IP?"
It seems that `ISessionContext` does not expose the remote endpoint, so I can't seem to find a way to determine the remote IP, either for filtering or logging. Can this be added to that interface? It seems that `SmtpSessionContext` does have the necessary info, but it's internal sealed, so I can't get at that from my program. Is there a way to do this and I'm not seeing currently?

[2020-05-24 06:43] cosullivan commented on #129
Hi, this is done now.

Thanks, Cain.

[2020-05-24 06:43] #129 closed

[2020-05-24 06:43] cosullivan commented on #130
Hi @cdwiegand,

I assume this was from the Readme file that you found this.

I have updated that now.

Thanks, Cain.

[2020-05-24 06:43] #130 closed

[2020-05-24 06:50] cosullivan commented on #131
Hi @cdwiegand,

You can access the Remote Endpoint from the session context, see here for an example;
https://github.com/cosullivan/SmtpServer/blob/master/Src/SampleApp/SampleMailboxFilter.cs#L32

Thanks, Cain.

[2020-05-24 13:40] cosullivan commented on #128
Hi,

Which particular authentication method are you interested in?

Thanks, Cain.

[2020-06-12 03:59] cosullivan commented on #121
Hi @large ,

Sorry that wasn't included.

I have a separate branch where I started playing around for that and I should have some time this weekend to get back to it.

Thanks, Cain.

[2020-06-16 18:35] large commented on #121
Thank you for the feedback @cosullivan  👍
I have a running alpha of my software for testing and your library is stable.
Looking forward for this method fixed. Keep up the good work :)

[2020-06-18 13:40] cosullivan commented on #121
Hi @large ,

I've pushed my branch here;
https://github.com/cosullivan/SmtpServer/tree/feature/Shutdown

I've added a Shutdown() method on the server, so the idea is that you can call the Shudown method and this will stop the listener but any active sessions will continue until they are completed. Waiting on the Task returned by the StartAsync() method will return once all of those sessions are co

[2020-06-21 04:30] cosullivan commented on #121
Hi @large ,

I've now published a new version 7.2.0 that contains this Shutdown method.

Additionally, there are two new examples showing the difference between cancelling the server via the CancellationToken and performing a graceful shutdown.

https://github.com/cosullivan/SmtpServer/blob/master/Src/SampleApp/Examples/ServerCancellingExample.cs

https://github.com/cosullivan/SmtpServer/blob/mast

[2020-06-27 07:20] #105 closed

[2020-06-27 07:20] #89 closed

[2020-06-27 07:21] #58 closed

[2020-06-27 07:21] #78 closed

[2020-06-27 07:21] #131 closed

[2020-06-27 07:22] #86 closed

[2020-06-27 07:22] #112 closed

[2020-06-27 07:22] #117 closed

[2020-06-27 07:23] #110 closed

[2020-06-29 07:14] bertsinnema opened #132 "Get hostname value of EHLO/HELO command"
Hi There,

Is there a possibility to get the value of the HELO/EHLO command that is entered by the connecting client?

It would be nice if  `HELO somedomain.com` would set **somedomain.com** as the clients' hostname in ISessionContext.

I want to use the domain name to do DANE-EE verification which relies on a TLSA record that is set for the hostname. I can do a PTR (reverse DNS) lookup with the c

[2020-06-29 15:46] cosullivan commented on #132
Hi,

The way you can do this at the moment is to trace the commands that are executing in the session. If you have a look at the sample here;
https://github.com/cosullivan/SmtpServer/blob/master/Src/SampleApp/Examples/SessionTracingExample.cs

There is an event you can attach to on the Session that is fired on each command that is being executed. In your event handler you could do something like t

[2020-06-30 06:34] jmacato opened #133 "[Feature Request] IMAP Server Interface"
Hi! This library is quite cool btw! I don't know if this is still within the scope of this project but i think it'd be beneficial for it to have a IMAP server so that users can use this as their primary mail server and use clients like Thunderbird.

I know it'd be quite a trouble to implement but I'd like to hear your thoughts about this. Thanks and have a good day :)

[2020-06-30 13:56] cosullivan commented on #133
Hi, thanks for your feedback.

I don't think the IMAP server fits into this project.

With a mail server, there are really two parts to it, the SMTP server that deals within the incoming messages and then the IMAP (and/or POP3) server that deals with the interactions for the message clients. I feel they are two distinct projects as opposed to one.

Thanks, Cain.

[2020-06-30 13:58] jmacato commented on #133
I see.. too bad.. I cant find any c# based solution for IMAP... ohwell... if you know anything in that direction it'd be quite helpful! and thanks for the response :)

[2020-06-30 15:01] large commented on #133
@jmacato my best bet for what you are looking for: https://github.com/hmailserver/hmailserver

Please note that it is C++ with COM references that are adaptable to C#
I have been running a hMailserver since 2007 so it is stable.

Now I have my own spam proxy using this smtpserver between with great success.

[2020-06-30 15:16] jmacato commented on #133
@large thanks for the link but i'm looking for a fully managed/c# based one since i really really dont like native binaries...

[2020-07-01 08:00] bertsinnema commented on #132
Hi Cain,

Thanks for getting back to me.  This gets me what I need for a lot of other scenarios too.

Cheers!

[2020-07-01 08:00] #132 closed

[2020-07-15 13:11] shieldsjared opened #136 "[Feature Request] Add Received Header?"
Any chance the received header can be generated and applied?  Looking through the code now to see if I can figure out where best to do this (I realize I could do this on my end, but seems like something that perhaps should be added to the server itself?  Thoughts?  Thanks for your work!

[2020-07-15 14:46] shieldsjared commented on #136
So I'm working on just adding this myself, during SaveAsync; however, I don't seem to have an easy way to get ahold of the domainOrAddress provided during HELO to include in the Received header value.  Looks like the spec says that it should match whatever the client identified itself as... Thoughts?

If you agree, perhaps we can adjust the HeloCommand to add the value into the session's propertie

[2020-07-15 14:56] shieldsjared commented on #136
Yeah, i just needed to spend more time looking at the code. Going to just use a SmtpCommandVisitor to handle this :D  Going to close this out.

[2020-07-15 14:56] #136 closed

[2020-07-15 17:21] shieldsjared commented on #136
Related to #132

[2020-08-17 08:41] reponemec opened #137 "SmtpServerOptionsBuilder.MaxMessages"
Is it possible to limit the maximum number of messages server receive? Per a time period (or session) and domain.

[2020-08-18 02:19] cosullivan commented on #137
Hi @reponemec,

You can implement this logic yourself within a IMailboxFilter implementation.
https://github.com/cosullivan/SmtpServer/blob/master/Src/SmtpServer/Storage/IMailboxFilter.cs#L17

You can either return a MailboxFilterResult or throw a SmtpResponseException from within this filter to return a more specific response back to the client.

Thanks, Cain.

[2020-08-18 05:37] #137 closed

[2020-08-26 21:20] nkalfov opened #138 "Server hangs when using STARTTLS"
Hi,

I am currently trying to use the library in a NETCORE 3.1 Windows Service on port 25 over STARTTLS. However, the client gets stuck on connecting. I downloaded the source and debugged the library, it seems the server itself is getting stuck when `UpgradeAsync` of `SmtpServer.IO.NetworkStream` is invoked. Does the library support STARTTLS? This could be related to Issue #108 However, I am not u

[2020-08-26 22:40] nkalfov commented on #138
I've actually found the issue. I was doing:

            var options = new SmtpServerOptionsBuilder()
                .ServerName(host)
                .Certificate(cert)
                .Endpoint(builder =>
                    builder
                        .Port(port)
                        .IsSecure(isSecure)
                        .AllowUnsecureAuthentication(false)

[2020-08-27 06:17] #138 closed

[2020-09-03 20:16] large opened #139 "How to debug sessions that are never closed?"
Hi @cosullivan!
I have tested all your examples and connected with telnet, sent rubbish and it disconnects as expected after 5 retries.
Socket are marked as closed within netstat.

In my project (that I sadly can not share atm) the network stream is never closed in OnSessionCompleted().
When I quit my application the streams are released...

I cannot figure it out and a debug session has not helpe

[2020-09-03 21:11] large commented on #139
After massive debugging I finally found *my* bug for this.
Based on your CustomEndpointListenerExample I had forgot to add_innerStream.Dispose();
That made the stream stay forever open, as expected. Case closed :)

[2020-09-03 21:11] #139 closed

[2020-09-04 10:37] large opened #140 "Best way to block connections?"
Hi @cosullivan!

I wonder what is the best approach to block connections?</br>

Already I have a list of IPs I want to block.</br>
This list is checked in the "SessionCreated" event.</br>

My approach is to throw an exception for the IPs that match:</br>
[code]

This will trigger an "SessionFault" event and the socket is still "connected" as I can see it?</br>
Are there any better approach?</br>

[2020-09-04 12:14] large commented on #121
The gracefull shutdown works as expected, thank you for the examples 👍🏼

[2020-09-04 12:14] #121 closed

[2020-09-04 18:04] large commented on #140
(I opened the issue again if you wanted to add any comments on this 👍 )

[2020-09-05 02:12] cosullivan commented on #140
Ok, thanks for finding that.. I will have a look in more detail later today.

FYI, I have been working on v8 (only Beta at the moment) and there are some API changes but for the most part the changes were made to take advantage of the latest .NET functionality and reduce allocations and increase performance.

https://github.com/cosullivan/SmtpServer/blob/develop/Version8.md

[2020-09-05 02:17] cosullivan commented on #140
What is the desired result for blocking an IP? Do you want to return a standard SMTP error code back to the client or do you just want to block their connection from actually occurring?

If you want to return an SMTP status code to tell the client that their IP is blocked then either the SessionCreated event or the IMailboxFilter are the two places for this.

However, if you want to filter out IP

[2020-09-05 02:20] cosullivan commented on #121
If there are any details you can share about your project then I am always keen to hear how people are using it. If its something more private then you can email me directly.

Thanks, Cain.

[2020-09-05 18:58] large commented on #140
I really just want a silent disconnect of ips in the list, so your suggestion here is best 👍
Already using your custom endpointlistener so it was simple to implemented, tested and it works.

When return of null, the sessionfaulted is still triggered, is there a better way to end silent?

Sudo code:
[code]

[2020-10-07 12:06] tdhintz opened #141 "SmtpCmdResp: 501 expected NOOP/RSET/QUIT/HELO/EHLO/MAIL, 4 retry(ies) remaining."
We integrated this services into our test harnesses as a way to validate emails sent by infrastructure.  It performs great with the .Net SMTP client library but when that library is replaced with Chilkat's MailMan it can no longer authenticate.  The log from Chilkat says it receives a 501 response.  The folks at Chilkat simply pointed to the EHLO early in the conversation as an indication that Smt

[2020-10-07 12:24] WaldenL commented on #141
Does your builder allow unsecure authentication? Take a look at issue #120 for some sample code. I think you need to either tell the sender authentication is not needed, support encryption on the connection, or support auth on non-secure connections.

[2020-10-07 12:56] tdhintz commented on #141
I didn't specify that parameter.  I rewrote as follows but the symptom appears unchanged.

[code]

[2020-10-07 13:02] tdhintz commented on #141
I take that back.  In the rewrite note that I specified .Port() twice which caused the service to report another failure.  Strange that the Chilkat symptom looked the same.  Removing the first, extra, .Port() allowed it to work.  Briefly, AllowUnsecureAuthentication(true) fixed this problem.  Thank you!

[2020-10-07 13:03] #141 closed

[2020-10-21 21:44] reponemec opened #142 "Best hosting environment"
I'm looking for a best hosting environment for your SmtpServer library. All your examples are using just a simple console application.
Is .Net Core console application the best solution for hosting SmtpServer on production Windows or CentOS servers?

[2020-10-22 01:17] cosullivan commented on #142
Hi,

Console App's are easy to get running which I why I have created the samples like that. However, there is no real best practice on how you would host the SmtpServer.

It could be a Console App, a Windows Service, an ASPNET Core app, it really doesn't matter.

Thanks, Cain.

[2020-10-27 02:32] #93 closed

[2020-10-27 02:33] #87 closed

[2020-10-27 02:34] #91 closed

[2020-10-27 02:35] #104 closed

[2020-10-27 02:35] #119 closed

[2020-10-27 02:35] #123 closed

[2020-10-27 02:36] #108 closed

[2020-10-27 02:37] #120 closed

[2020-10-27 02:37] #133 closed

[2020-10-27 02:37] #142 closed

[2020-11-01 16:36] reponemec opened #143 "MessageStore breaking changes?"
It looks SmtpServerOptionsBuilder.MessageStore operation has been completely rewrited since 8.0.1 version of SmtpServer.

Old:
`new SmtpServerOptionsBuilder().MessageStore(new SampleMessageStore());`

New:
`serviceProvider.Add(new SampleMessageStore());`

Seems significant breaking changes comparing with 7.0.2. Is there any updated readme.md about "How can it be used?"
And which version of package

[2020-11-02 00:38] cosullivan commented on #143
Hi,

Yes, version 8 does contain some breaking changes mostly around performance, but also around improving extensibility. I am still working through this document which will describe the changes and hope to have that complete in the next week or two.
https://github.com/cosullivan/SmtpServer/blob/master/Version8.md

If you need to reference how the changes work, all of the sample where applicable

[2020-11-02 05:53] reponemec commented on #143
OK, thanks.

[2020-11-02 05:53] #143 closed

[2020-11-02 15:40] sandord opened #144 "NuGet package v8.0.1"
I saw the v8.0.1 version show up on NuGet and I upgraded my package references.

I got more than a few breaking changes but I can't seem to find any upgrade hints. When checking this GitHub page, I was that the latest release is supposed to be 7.2.0.

I tried sifting through the commit messages but I got the feeling that development is still in progress.

I guess I should stick with 7.2.0 for now

[2020-11-03 01:04] cosullivan commented on #144
Hi @sandord,

Yes, v8 does have breaking changes and the documentation is still a work in progress. I hope to have the upgrade notes available soon.

See this for additional information too;
https://github.com/cosullivan/SmtpServer/issues/143#issuecomment-720180570

Thanks, Cain.

[2020-11-03 09:06] cosullivan commented on #144
I've updated the doco here;
https://github.com/cosullivan/SmtpServer/blob/master/Version8.md

[2020-11-03 09:07] cosullivan commented on #143
I've updated the doco here;
https://github.com/cosullivan/SmtpServer/blob/master/Version8.md

[2020-11-03 10:58] #144 closed

[2020-11-03 10:59] sandord commented on #144
Thanks a lot! This provided me with enough information to complete the upgrade.

[2020-11-16 11:13] nopap opened #145 "TLS broken in version 8"
Hi,
I think TLS is broken in version 8, i'm not able to handshake when IsSecure=true. Either with openssl s_client or from a C# piece of code or MailKit like in your sample.
Same server code with SmtpServer version 7 works fine, handshake ok.

Or i'm missing something like a new option to set somewhere.

Thanks

[2020-11-16 11:58] cosullivan commented on #145
Hi @nopap ,

Thanks for picking that up. I didn't actually have a unit test for that scenario so it slipped through the cracks when I was refactoring.

I have fixed this and pushed a new package version 8.0.3 to NuGet which should be available shortly.

Thanks, Cain.

[2020-11-16 13:14] #145 closed

[2020-11-16 13:14] nopap commented on #145
All tested ok. Thanks.

[2020-11-17 08:32] nopap opened #146 "Server going down on SSL errors: Wider exception catching in ListenAsync"
Hi,
With IsSecure enabled, if a client sends crap to the server it simply goes down with Exception 'The handshake failed due to an unexpected packet format.'
In ListenAsync only the OperationCanceledException is currently catched, i propose to catch a wider range to prevent the server from going completely down on errors. I'm running right now with all exceptions catched, but maybe a subset only w

[2020-11-18 13:30] cosullivan commented on #146
Hi,

When you say that the client sends crap, are you saying that the client doesn't complete the SSL handshake but starts sending commands instead?

[2020-11-18 13:49] nopap commented on #146
Hi, yes whe the client send something/anything which is not the expected TLS handshake. For example a simple curl to the server will put it down due to invalid handshake.

[2020-11-20 08:45] cosullivan commented on #146
Hi @nopap ,

I've just pushed a fix for this so it now also catches the IOException that can be thrown here and then also ensures that the original Pipe is disposed.

Thanks, Cain.

[2020-12-19 14:00] romeosan opened #147 "How to enforce plain authentication?"
Great work @cosullivan. I am just wondering how I can enforce authentication so that it does not accept anonymous connections. I already added this and it works when I enable authentication on my client but it seems that auth is optional from smtpserver side. E.g. with Thunderbird I can send when I set my client to no auth.

        public class SampleUserAuthenticator : IUserAuthenticator, IUserA

[2020-12-19 14:03] romeosan commented on #147
PS: I am starting the smtp server with these options:

                    X509Certificate2 cert = buildSelfSignedServerCertificate();

                    var options = new SmtpServerOptionsBuilder()
                    .ServerName("MyServerName") // its just a name which will be shown in the welcome string
                    .Port(25, 587)
                    .Port(465, isSecure: true)

[2020-12-19 14:42] cosullivan commented on #147
Hi @romeosan ,

It sounds like you need to enable the AuthenticationRequired option which can only be set using the Endpoint builder.

[code]

So your options could look something like this (assuming you just want it enabled for port 465);

[code]

Thanks, Cain.

[2020-12-20 21:18] romeosan commented on #147
thank you very much for the fast answer @cosullivan, that worked!

[2020-12-20 21:18] #147 closed

[2020-12-23 21:51] adamfoneil opened #148 "generic email webhook service?"
This may be a dumb question, but I'm having a hard time finding info about doing something I want to do.
I want to do something like what this service does: https://www.email2json.net/

I'd like to be able to send email to a domain I control, then have some listener recognize incoming messages and call webhooks that users have created. These webhooks would receive json POSTS of the original email

[2020-12-24 00:39] cosullivan commented on #148
Hi @adamfoneil ,

I actually looked into this partially a while back and it can be done by writing a custom Azure Function Trigger. By defining a custom trigger, you eventually have to implement an object that implements the `IListener` interface which has `StartAsync` and `StopAsync` methods. Within this implementation, you could theoretically start and stop an instance of the SMTP Server.

Howev

[2020-12-24 01:01] adamfoneil commented on #148
Thanks for the feedback! This gives me some ideas

[2020-12-24 01:01] #148 closed

[2021-01-13 21:12] IsaackRasmussen opened #149 "Simple authentication with v8"
I'm using version v8.04 and I can't get it to advertise AUTH and my mail client claims its not supported

[code]

Is a certificate required, even when its not secure? What else is required to make it advertise AUTH?

[2021-01-14 06:45] cosullivan commented on #149
Hi @IsaackRasmussen ,

I think the issue might be here;
https://github.com/cosullivan/SmtpServer/blob/master/Src/SmtpServer/Protocol/EhloCommand.cs#L84

It checks to see if you have an IUserAuthenticatorFactory registered, but in theory it should be testing for either IUserAuthenticatorFactory or IUserAuthenticator.

On your SmtpUserAuthenticator class can you also implement IUserAuthenticatorFact

[2021-01-14 08:35] IsaackRasmussen commented on #149
Hi Cain,

Thanks... that worked. I had already tried implementing the Factory but did not register it - which did the trick.

[2021-01-21 13:18] LeXaMeN opened #150 "CRAM-MD5"
Please add authorization method CRAM-MD5.

[2021-01-28 13:09] barclayadam opened #151 "Efficiently storing messages to disk in v8"
I'm investigating an upgrade to v8 from v7. We have an `IMessageStore` that stores to disk TO, FROM, some header information and then the body is streamed as-is.

Given the changes to Pipelines and `ReadOnlySequence<byte>` I'm trying to figure out the most efficient way of now achieving this.

I've tried:

 - Naive loop around the buffer with calls to `WriteAsync`. This is _terrible_
 - Wrap the `

[2021-01-29 03:04] cosullivan commented on #151
Hi,

The changes to using Pipeline's was to avoid (or more so delay) as much of the memory allocations as possible. Version 7 used to work by reading the data from the socket and copying that into a MemoryStream which was then passed through to the IMessageStore.

Using the Pipelines means that the SmtpServer can pass through a reference to the data directly from the sockets buffer and avoid alloc

[2021-01-30 13:08] cosullivan commented on #149
Hi, this is now resolved in v8.0.5.

[2021-01-30 13:08] #149 closed

[2021-02-01 01:40] cosullivan commented on #150
Ok, I will look into whats involved.

[2021-02-01 10:48] reponemec opened #152 "What is actually needed for gracefully shutting down the server?"
What is actually needed for gracefully shutting down the server?
There are two different examples in source code, first as simple console app, second as worker service:

[ServerShutdownExample.cs](https://github.com/cosullivan/SmtpServer/blob/master/Examples/SampleApp/Examples/ServerShutdownExample.cs)
[code]
[Worker.cs:](https://github.com/cosullivan/SmtpServer/blob/master/Examples/WorkerService/

[2021-02-02 02:06] cosullivan commented on #152
Hi @reponemec ,

You can cancel the server in one of two ways;
a) cancelling the `CancellationToken `that is given to the `StartAsync()` method,
b) calling the `Shutdown()` method on the server.

Both will actually do the same thing and the two different examples above are just cancelling using the two different methods.

The Shutdown process consists of two phases, firstly, shutting down any list

[2021-02-02 08:02] reponemec commented on #152
Thanks, that's exactly what I needed to know.

[2021-02-02 08:02] #152 closed

[2021-02-03 12:38] barclayadam commented on #151
Hi @cosullivan

Thanks for getting back so quick. If I must read into memory fully, and that is the same as v7, that would be OK but I believe from limited testing that we should be able to get much closer to being able to stream directly and therefore avoid that (I'm not interested in the email, I just want to store to disk as quickly as possible).

I have tried with a few files and they all seem

[2021-02-03 13:35] cosullivan commented on #151
Hi @barclayadam,

The number you are seeing here is not actually the number of segments in the buffer, but rather the total size of the buffer in bytes.

I created the MimeMessage using MailKit and then saved that file to disk and Windows Explorer reports the file size as 6,012,854 bytes (Mime Encoding of an image will expand the file size quite some margin)

![image](https://user-images.githubuse

[2021-02-03 13:47] cosullivan commented on #151
@barclayadam

Actually, try writing with your first option (the Direct Write) but increase your FileStream buffer from 2048 to 32768 and see if that makes a difference as that should give close to the the same affect as increasing any internal buffers.

[2021-02-23 18:01] barclayadam commented on #151
@cosullivan

Sorry for the delay getting back to you. I did some further testing and, you are right, increasing the FileStream buffer does, of course, improve performance.

It does not get on par with reading all into memory and then copying across to the FileStream, but then it does use more slightly better when looking at max consumption values

Results below are sending 100 emails that are just

[2021-03-02 09:38] duyanming opened #153 "public class SampleMailboxFilter : IMailboxFilter, IMailboxFilterFactory serviceProvider.Add There is ambiguity"
![image](https://user-images.githubusercontent.com/17999146/109628509-ca4b6800-7b7d-11eb-91a7-b74d601c99fd.png)

 var serviceProvider = new ServiceProvider();
            serviceProvider.Add(new SampleMessageStore());

            serviceProvider.Add(new SampleMailboxFilter());
            serviceProvider.Add(new SampleUserAuthenticator());
![image](https://user-images.githubusercontent.com/179991

[2021-03-02 10:29] duyanming opened #154 "The SMTP server does not support authentication."
System.NotSupportedException
  HResult=0x80131515
  Message=The SMTP server does not support authentication.
  Source=MailKit
  StackTrace:
   at MailKit.Net.Smtp.SmtpClient.<AuthenticateAsync>d__69.MoveNext()
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.Tas

[2021-03-03 08:54] cosullivan commented on #154
You need to also set `AllowUnsecureAuthentication` to true if you aren't using a secure session.

[code]

[2021-03-03 10:55] duyanming commented on #154
thank you

[2021-03-03 10:55] #154 closed

[2021-03-04 14:56] everttimmer1963 opened #155 "Unable to have SmtpServer support Systm.Net.Mail.SmtpClient on Implicit connection over SSL; port 465"
Hello,

I am currently busy implementing a mail server that only receives mails and drops them in a folder. Everything works and I am ablt to connect with either your SmtpClient, and the System.Net.Mail.MailClient.

With the latter one, I am experiencing a problem connecting on port 465, using SSL. The code hangs on Send.
This may have someting to do with the System.Net.Mail client not supporting

[2021-03-05 00:47] cosullivan commented on #155
Hi,

As long as you are providing the certificate then the STARTTLS command should be issues and allow the clients to connect using explicit SSL connections.

Therefore, with your configuration the client should be able to connect to ports 25 and 587 and then optionally issue the STARTTLS command. The only way to force that a STARTTLS command is issued is with a login. For example, if you are requ

[2021-03-05 23:02] everttimmer1963 commented on #155
Thx.

I have been on this most of the day but could not get the System.Net.Mail.SmtpClient working on port 465. I have seen a suggestion about establishing an SSL connection first, and the use the mailclient over that connection but that seems like a weird workaround to send the mail.

Eventually, i was able to just use that client withoud specifying a port, with SSL enabled. It will then establis

[2021-03-05 23:02] #155 closed

[2021-03-15 09:40] vesnaveen commented on #35
Great! This logic is perfectly working.

[2021-03-25 07:26] romeosan opened #156 "Service stopping due to SSL exception !"
Hi,

I am running the newest nuget package v8.0.5 within .NET Core 2.1, dockerized within an Azure Container Instance.

Now after some time I am getting the following exception and the service is stopping. Any idea how to fix that? Any help is appreciated!!!

Authentication failed, see inner exception. at System.Net.Security.SslState.StartSendAuthResetSignal(ProtocolToken message, AsyncProtocolReq

[2021-03-25 16:57] romeosan commented on #156
@cosullivan - just let me know in case you need more information. appreciate your support!

[2021-03-29 14:47] cosullivan commented on #156
Hi, does this happen with all connections, or only after a period of time?

[2021-03-29 14:53] romeosan commented on #156
thanks for the response @cosullivan, it is happening after some time and the docker instance is stopping as it seems that the above exception is not handled properly. the connections I am creating to tcp/465 are accepted without any issues, I assume the listener is receiving some packets (from random hosts) which he doesn´t like.

[2021-03-29 15:02] cosullivan commented on #156
Ok, I think I know what the issue might be.

If you have configured .IsSecure(true) then it means that the server will attempt to upgrade the client connection to SSL when the connection is first established. However, if that upgrade throws an exception (perhaps the client connects with an invalid certificate) then that exception is bubbling up and causing the server to stop, whereas in v7 it used

[2021-03-29 16:22] romeosan commented on #156
thank you @cosullivan for pinning down the problem that fast. ok, right now I went back to v7 and testing with it. but v8 with such a fix would be awesome!!! ;)

[2021-04-03 07:28] cosullivan commented on #156
Hi @romeosan ,

This should be resolved in version 9 which I have just published.

Thanks, Cain.

[2021-04-05 19:12] ramonsmits opened #157 "Release tags are missing for various recent releases on nuget.org"

[2021-05-07 22:56] NamanGangwar commented on #153
For SampleMailboxFilter inherit from IMailboxFilter.
###### SampleMailboxFilter.cs
[code]
For SampleUserAuthenticator inherit from IUserAuthenticator.
###### SampleUserAuthenticator.cs
[code]

[2021-05-08 07:14] #153 closed

[2021-05-14 08:22] ahdung opened #158 "What sender address when use SmtpClient?"
This is maybe a stupid question, forgive me please.

I use this started a server:
[code]
so how to set the sender address in SmtpClient?

[2021-05-14 12:54] everttimmer1963 opened #159 "SmtpServer.StartAsync blocks when called in .NET5"
I am porting an existing SmtpService (.net framework windows service) using SmtpServer to .NET5 and I am running into a problem.

Upon starting the service, StartAsync blocks and never returns. For debugging, I changed the configuration to the minimal possible configuration before starting the service, so effectively, the code results into this:

`var options = new SmtpServerOptionsBuilder()
    .

[2021-05-14 14:41] everttimmer1963 commented on #159
A non-issue. I was under the assumption that StartAsync would be a non-blocking call but that does not seem to be the case. The server now accepts and receives emails without any problem,

[2021-05-14 14:41] #159 closed

[2021-05-19 15:15] EriksonGM opened #161 "How can I know if the mail was sent or readed by the destiny"
I want to log server events, how can I get emails states like, sended, readed or something like that.

[2021-05-20 03:43] cosullivan commented on #158
Hi, this component is actually an SMTP Server, not an SMTP Client so you may be looking in the wrong place.

If you want an SMTP Client, check out https://github.com/jstedfast/MailKit

[2021-05-20 04:53] ahdung commented on #158
I know this is a server, my question is when use client connect the server, what address I should type?

[2021-05-20 05:05] cosullivan commented on #158
When you say the "sender address" are you referring to the sender's address of the email itself, or the address of the server you want to connect to?

If you are referring to the address of the server, then you would use the Smtp Client and connect to the IP address of the host machine that the SMTP Server is running on,.

If you are referring to the sender's address on the email, then that's irre

[2021-05-20 05:32] ahdung commented on #158
Sorry my English is not good.
Actually my purpose is send mail without provider account, so I want integrate a SMTP server into my app, and send mail to users by the App self, without using gmail/outlook or other else, so when I started a `SmtpServer`, how to send mail directly? Thank you.

[2021-05-20 05:34] cosullivan commented on #158
Ok, I don't think this will suit your needs. This SMTP Server wont act as a relay server which is what you need by the sounds of it.

This is just designed to handle the communications with a Mail Client.

[2021-05-20 05:40] ahdung commented on #158
Do you mean this server can't really send a mail to someone?

[2021-05-20 05:41] cosullivan commented on #158
Yes, that is correct.

[2021-05-20 05:44] ahdung commented on #158
I see. so~let me curious to ask, what does it do?

[2021-05-20 05:46] ahdung commented on #158
I think I got it, it can be a message receiver, accept message in, but never process out. right?

[2021-05-20 05:54] cosullivan commented on #158
yes that is correct.

If you wanted to forward the message you would need to handle that yourself.

[2021-05-20 06:40] #158 closed

[2021-05-31 03:01] cosullivan commented on #161
Hi, email states are not handled through this component, this is purely an SMTP Server component, you are looking for an IMAP server component.

[2021-06-09 08:35] Letivusa opened #162 "Aa"

[2021-06-10 09:39] bogdanst24 opened #163 "Session Faulted when having large recipient size on version 8 or 9"
**Bug: Session faulted on a large number of recipients**
**Bug on versions: 8, 9**

Starting with version 8 of the library, there is one critical issue that blocks us from updating. This, even though the performance improvements proved to be huge after performing a long load testing session (4-5 times faster in our case).

In our case, the SmtpServer is receiving emails from Exchange and the maxim

[2021-06-12 01:51] cosullivan commented on #163
Ok, I have never tested it with such a large number of recipients before, but I will look into it over the next few days.

Thanks, Cain.

[2021-06-12 02:14] cosullivan commented on #163
@bogdanst24 I'm not sure how sensitive the email addresses are that you are using but if you are able to send them to me (on email) then that would help, but I understand if you don't want to.

I don't think it is an issue with a large number of recipients, but rather one or more of the recipients themselves. Based on that exception, the error is occurring whilst trying to make/parse the mailbox.

[2021-06-14 11:05] bogdanst24 commented on #163
Yes, you are right with the RCPT To being issues as individual recipients. From a total of 250, the error is thrown after the 100th or something similar.
I'm sure it is not related to mailbox/address parsing, as it was reproduced on multiple different domains. It is an issue that was reported as critical by many customers (of our product using the library) and we are now also able to reproduce it

[2021-06-14 11:26] cosullivan commented on #163
Thanks, I have seen your email now and I can reproduce it. As you have said its related somehow to the number of emails being sent so I should be able to figure it out now.

Thanks for your input, I will have a look in the next day or two.

[2021-06-15 14:55] #162 closed

[2021-06-15 14:56] #161 closed

[2021-06-15 14:57] cosullivan commented on #163
Ok, I think this issue is now resolved in v9.0.1 which I have just published.

There was an issue when it was reading tokens from multiple buffers which would likely only happen on large amounts of data being read from the client.

[2021-06-15 15:00] bogdanst24 commented on #163
Awesome! I'll test it as soon as possible and come back with results

[2021-06-16 07:58] bogdanst24 commented on #163
I can confirm that the issue is fixed now. Thank you!

[2021-06-16 09:12] #163 closed

[2021-06-23 08:49] ppaschedag opened #164 "IOException replying to QUIT when receiving mail from outlook.com"
It seems that outlook.com is not behaving very nicely when relaying mail, after it sends quit it looks like it is closing the connection before the response can be send, resulting in the exception below. This happens every time when receiving mail from Outlook.
When mail is relayed/received from Gmail everything works as expected and if get "Command Executed" for QUIT followed by "SessionCompleted

[2021-06-28 07:19] cosullivan commented on #164
I will look into this.

The specification is pretty clear that the client needs to wait for the response after initiating the QUIT command so I am surprised that Outlook would be doing it wrong, however, most servers are usually pretty lenient.

[2021-06-30 18:38] ISV-Kran opened #165 "502 Unrecognized command"
Hi, and first of all thank you for this valuable smtp server ❤

I'm having some problems sending commands. I tried various tools, including socketlabs smtp console [(https://www.socketlabs.com/smtp-server-connection-diagnostics-tool/).](https://www.socketlabs.com/smtp-server-connection-diagnostics-tool/) The command is sent correctly from the tool, in fact decoding the buffer in string on method R

[2021-07-01 10:27] ppaschedag commented on #164
Yeah, it seems Microsoft is ignoring the specs. Thanks for looking into this!
If you have something, I'll be happy to test it out!

[2021-07-01 11:48] cosullivan commented on #165
Hi, what command is it failing with? Can you share anymore information for me to test with?

[2021-07-01 13:28] ISV-Kran commented on #165
Sure, here's more info:

Platform: net core 3.1
Release SMTP: latest 9.0.1
Configuration:
`var options = new SmtpServerOptionsBuilder()
    .ServerName("mydomain.com")
    .MaxMessageSize(52428800)
    .Endpoint(builder => builder.Port(25).ReadTimeout(TimeSpan.FromSeconds(60)))
    .Endpoint(builder => builder.Port(465)
        .ReadTimeout(TimeSpan.FromSeconds(60))
        .Certificate(GetCertifi

[2021-07-01 13:54] ISV-Kran commented on #165
-- UPDATE --

while HELO work case insensitive, EHLO is recognized only uppercase. I don't know, maybe that's correct so that's ok probably.

So my problem remains on the STARTTLS.
Using `openssl s_client -starttls smtp -connect mydomain.com:25 -debug`
Response is:

Maybe I wrong options configuration?

[2021-07-01 13:55] cosullivan commented on #165
How are you trying to connect to the server to issue the commands?

I configured a server with your settings and then did

`telnet localhost 25`

`
220 mydomain.com v9.0.1.0 ESMTP ready
HELO test
250 mydomain.com Hello test, haven't we met before?
EHLO test
250-mydomain.com Hello test, haven't we met before?
250-PIPELINING
250-8BITMIME
250-SMTPUTF8
250 SIZE 52428800
quit
221 bye
`

so that worked.

[2021-07-01 13:59] cosullivan commented on #165
No, the commands should all be case insensitive.

[code]

[2021-07-01 14:16] ISV-Kran commented on #165
You're right it works insensitive.
About setting IsSecure(false) now I can manually start starttls.

Thank you so much, next time i'll check better before opening a report, have a nice day!

[2021-07-01 14:16] #165 closed

[2021-07-06 08:14] 1Jesper1 opened #166 "Email TO/FROM without angle brackets to support older SMTP clients"
https://github.com/ChangemakerStudios/Papercut-SMTP/issues/183
https://github.com/cosullivan/SmtpServer/blob/683cd9609f156b0f50d29139e97c0daef1eb3d52/Src/SmtpServer/Protocol/SmtpParser.cs#L849

[2021-07-11 08:21] stevie1706 opened #167 "Scoped DI using WorkerService"
Hi,

First of all thanks for the great library. :)

I am trying to setup the SMTP server inside of a background hosted worker process as per your example.

I have found that the instance of the messagestore is not scoped to the request and therefore registering services as scoped in the serviceprovider are keeping hold of state between receipt of messages.

Is this still a valid way of adding the

[2021-07-11 13:53] cosullivan commented on #167
Hi @stevie1706 ,

How are you registering your MyMessageStore? Are you registered using AddScoped?

Your issue here looks like it might be the way in which you are registering the components. You are registering the SmtpServer as a Singleton (which is fine because there will only be one SmtpServer instance running), however you are passing the IServiceProvider that is created from the call to serv

[2021-07-11 14:31] stevie1706 commented on #167
Thanks Cain, unfortunately they do need to be scoped as our service layer is expecting a scoped database context.  However, I will try out your SessionCreated method and see if that works for me.  Appreciate the quick reply.

Many Thanks,
Steve

[2021-07-11 15:03] stevie1706 commented on #167
Just letting you know what you suggested worked fine.  Thanks again.

[2021-07-12 13:04] vesnaveen opened #168 "SMTP Timeout issue while more than 100 emails"
We are using this SMTP server for two years. our client now sends more than 100 emails together in one connection and sometimes its works and sometimes its throws a timeout error. Can we have any additional function of this or any solution that allows multiple emails in the same connection?

[code]

[2021-07-12 14:35] cosullivan commented on #168
Hi @vesnaveen ,

What version are you using? it should support well and truly more than 100 so I suspect there might be another issue at play.

Just looking at your code that you posted, is this the actual code you are using? I notice you are starting the server (StartAsync) but not waiting for that task anywhere. How do you keep the application alive and running?

Do you have the call stack of th

[2021-07-14 11:36] vesnaveen commented on #168
Hi,
I was using the old version and now I have moved this to the latest version SmtpServer -Version 9.0.1. then again it's throwing the same Timeout exception. I have also used the same as https://github.com/cosullivan/SmtpServer example for StartAsync.
What should I do to increase my time period?

Also, I know that what is default time of this function **CommandWaitTimeout**

[2021-07-14 11:41] cosullivan commented on #168
The default ReadTimeout is set to 2 minutes (it can be configured on the Endpoint) however, I don't think that will be causing an issue.

Can you send the Exception stack trace?

[2021-07-14 12:15] vesnaveen commented on #168
You mean I have to send the timeout functionality to the SMTP client side. right?
Can I use increased timeout limit from the SMTP server-side also?
I have sent the image below for the exception.  Please check this.
![Untitled](https://user-images.githubusercontent.com/12605452/125619935-ddca1dfa-f41e-492d-8fee-0de7e720758c.png)

[2021-07-14 12:40] cosullivan commented on #168
The default CommandWaitTimeout is 5 minutes, but that is the timeout that is applied to waiting for a single command to be read from the client. So it's unlikely this timeout would be an issue unless the SMTP client is just sitting there and not sending anything.

You could try adjusting the ReadTimeout on the endpoint like

[code]

But I don't think that would be the issue. It's hard to know with

[2021-07-23 10:22] large opened #169 "Pipereader example require internal "unsafe" class"
Hi @cosullivan , I am currently upgrading to v9.0 and had to rebuild my ListenFactory with PIPE as design is now.

In your example: https://github.com/cosullivan/SmtpServer/blob/2b455e652bb451dd3f38a6b7b84fb1b06e4dbfb3/Examples/SampleApp/Examples/CustomEndpointListenerExample.cs#L133
The StringUtil are "unsafe" because of the fixed buffers and pointers in the internal class. (I'm an old c++ progra

[2021-07-23 17:13] large opened #170 "ILogger interface depricated?"
Still working on my v9.x upgrade (coming from v7.x so this might be gone a long time)
You had an .Logger option, is that removed / change?

A logger option could be good for debug info and others, I vote to include it into ServiceProvider.cs :)
https://github.com/cosullivan/SmtpServer/blob/77d3188c8545c4e8ee39dca6fa3626d8f0d40512/Src/SmtpServer/ComponentModel/ServiceProvider.cs#L9

[2021-07-23 21:28] large commented on #169
I played with your example to get the full communication between server -> client.
Here is my suggestion to achieve that:

[code]

The helper for the reader here seems to be quite good. Since data is short it never triggers SequenceReader though, so that is probably useless.

[2021-07-24 13:15] cosullivan commented on #170
Hi,

I removed the Logger in favor of using events, see the SessionTracingExample as an example of this.
https://github.com/cosullivan/SmtpServer/blob/master/Examples/SampleApp/Examples/SessionTracingExample.cs

The logger (from memory) wasn't logging anything that isn't currently available from using events.

How were you using the logger previously? I am happy to put a logger back in if there ar

[2021-07-24 19:50] large commented on #170
Hi @cosullivan , I have checked and you are quite right 👍
I used the logger internally for debug reasons and it was never given any data from SmtpServer only the objects I included.
Maybe remove the files for Logger interface the the NullLogger in a future release then?

[2021-10-08 08:44] ststeiger opened #171 "Better validation-callback for self-signed certificate"
Hey, really nice work.
I have something for you.
A better certificate callback.
Instead of just return-true, this actually checks for errors, but allows untrusted root CAs.
I would have sent a pull-request, but I have changed other things which you might not want.

[code]

[2021-10-14 19:22] ststeiger opened #172 "SNI certificate-selection is not supported"
The SSL-certificate should not be "static".
If host-header based SSL is used (SNI), for multiple domains on the same IP, then the certificate would need to include them all.
This is problematic, as [LetsEncrypt does not allow more than 100 aliases in one certificate](https://community.letsencrypt.org/t/hi-we-have-one-domain-with-600-domainaliasses-the-maximum-allowed-in-one-certificate-is-100-alia

[2021-10-14 22:17] ststeiger commented on #172
Never mind, it does work with stream.TargetHostName.
https://github.com/dotnet/runtime/issues/57105
[code]

[2022-02-23 12:51] alexander-bobrov opened #173 "SmtpCommandException : No message provided on sending inline attachment"
Hi!
I'm trying to receive inline attachments with this server and I keep getting errors like that:
`MailKit.Net.Smtp.SmtpCommandException : No message provided`

If I remove the attachment part it works and that's strange.

But it works with ordinary attachments(example here: https://github.com/alexander-bobrov/MailHub/blob/c438dfb6c02959878597b795de40da646f808a78/src/Tests/SmtpTests.cs#L74)

Coul

[2022-02-27 07:45] judebigj opened #174 "System.IO.IOException: Authentication failed because the remote party has closed the transport stream"
Hello,
          Of late I am getting above mentioned error intermittently. I thought this could be the TLS version mismatch issue so I tried

SmtpServerOptionsBuilder options = new SmtpServerOptionsBuilder();

                options.ServerName("Smtp Server")
                .MessageStore(new EmailHandler2())// Register EmailStore
                .MailboxFilter(new GatewayFilter())

[2022-02-28 11:09] alexander-bobrov commented on #173
The error is on my side so it can be closed

[2022-03-15 12:20] mrFred489 opened #175 "SecureServerExample blocked by telnet"
I have a problem where the server stops receiving emails if a telnet connection is open. The telnet connection is stuck in `AuthenticateAsServerAsync` within `SecurableDuplexPipe`. I can reproduce this issue by using the `SecureServerExample` from the repo. If this can either be fixed, or you have a workaround allowing me to block/reject the telnet connects, I would be happy.

I test it by:
1. Run

[2022-04-08 02:46] emdc-kjy opened #176 "Outlook smpt connect"
Hi,

You will attempt to create an SMTP virtual server using the library you created.
Outlook attempts to access the SMTP server (worker).
No action has been performed during the test since the live reference.

The POP3 server is currently created.

![image](https://user-images.githubusercontent.com/80241907/162419801-0d28d843-b1a3-4460-8d93-353d516e3379.png)
![image](https://user-images.githubuse

[2022-04-09 02:04] #176 closed

[2022-06-18 13:58] karol-gro commented on #175
Looking at the code it seams that the server performs SSL upgrade syncronously (i.e. it'll start listening to next connection, when previous is authenticated with SSL). I can see 3 possible ways, you could try to fix it:
1. disable SSL (only, if you're sure it's safe - closed network, vpn etc.)
2. Decrease read timeout - by default it's 2 minutes, you probably can have it safely much lower
3. Fix

[2022-06-19 02:11] cosullivan commented on #175
Hi @karol-gro yes it is still supported, but only when time permits.

I will have a look at this in the next few days.

[2022-06-30 15:45] superggfun opened #177 "Just ask question about deploy on cloud server"
I want building a SMTP Sever on a cloud server, such as a VPS hosting. But I heard many of the cloud server providers ban Port 25, that  is to limit the sending of spam. What do you suggest？

[2022-08-18 12:35] erhan355 opened #178 "Doesn't work with native smtp client"
Hi ,
I am using version 9.0.1 before upgrading to that version I haven't faced with any issue.It seems now It doesn't work with native smtp client anymore.

Here is my config
        var options = new SmtpServerOptionsBuilder()
            .ServerName(_smtpSettings.Server)
            .Endpoint(
                endpointBuilder =>
                {
                    endpointBuilder.Port(9028, fal

[2022-08-31 19:37] reinaldocoelho opened #179 "BDAT command support"
Hello Cain!

In #34 you say that you are developing a BDAT command support for the library.

Has this feature been realized?

[2022-09-01 15:56] sgabler-solytic opened #180 "Can this SmtpServer send emails?"
Hi, I recently used this tool to build a gateway to receive emails. This works really well and it was a pleasure to work with it 👍

I've studied some logs I implemented, and I found that apparently the server receives SPAM. I can ignore those emails with code. But this triggered another thought that some bots could find this SMTP server automatically and try to use it to send emails.

Just to be 1

[2022-09-05 01:04] cosullivan commented on #179
Hi @reinaldocoelho ,

I did some refactoring a while back to make this easier to support, but never ended up implementing it due to it not widely being used.

Thanks, Cain.

[2022-09-05 01:05] cosullivan commented on #180
Hi @sgabler-solytic ,

No, it can't be used to send emails unless you actually build that functionality in.

Thanks, Cain.

[2022-09-05 01:05] #180 closed

[2022-09-05 17:19] reinaldocoelho commented on #179
Thank you @cosullivan !!

[2022-09-05 17:19] #179 closed

[2022-09-15 12:22] mrFred489 commented on #175
Hi @cosullivan
What is the status on this? Do you expect to get the time to look into it?

[2022-09-16 05:13] cosullivan commented on #175
Hi @mrFred489 ,

I've uploaded 9.0.2-beta1 which should solve this. If you are able to test to confirm that would be good.

[2022-09-16 07:54] mrFred489 commented on #175
Hi @cosullivan

It seems to be working. It looks like you took the suggestion from @karol-gro, so the server can handle messages while attempting to secure another connection.

Thank you for fixing this!

[2022-09-26 09:26] markjerz commented on #133
@jmacato did you manage to find something for this?

[2022-09-26 12:02] jmacato commented on #133
@markjerz sadly not... i was not able to use this library in any capacity.. lack of docs and good examples prevented me from doing so.

[2022-10-02 19:16] devsienko opened #181 "DKIM support"
Hi, nice job! Does this library have DKIM support?

[2022-10-03 13:20] ctigrisht commented on #177
You can go to a cloud provider that does not ban port 25 or open a request to unblock port 25

[2022-10-03 13:22] ctigrisht opened #182 "Method to send email directly from the code"
Hey
I want to send email without an SMTP client, but directly from the program running the server, is there such a method I can access?

Thanks